<div class="flxr flxr--align-center flxr--just-end">
  <a class="no-style" href="https://viewblock.io/thorchain">
    <div class="nav-rune-container" [ngClass]="{'nav-rune-new-block': updating}">
      <div class="nav-rune-logo">
        <img src="/assets/images/rune-symbol.svg" alt="">
      </div>
      <div class="nav-rune-number">
        <span [ngClass]="{'nav-rune-number-new-block': updating}" *ngIf="lastBlock">{{ lastBlock | number:'1.0':'en-US' }}</span>
        <span *ngIf="!lastBlock">000000</span>
        <!-- <div id="indicator-container">
          <span id="last-block-indicator"></span>
          <div *ngIf="updating" class="spin"></div>
        </div> -->
      </div>
    </div>
  </a>
</div>