<div class="nav-social">
  <a class="social-item" href="https://t.me/thorchain_org" target="_blank"
    ><img
      class="icon-pic"
      alt="telegram-link"
      src="/assets/icons/social-telegram-icon.svg" /><img
      class="hover-pic"
      alt="telegram-link-hover"
      src="/assets/icons/social-telegram-icon-hover.svg"
  /></a>
  <a class="social-item" href="https://github.com/asgardex/asgard-exchange" target="_blank"
    ><img
      class="icon-pic"
      alt="github-link"
      src="/assets/icons/social-github-icon.svg" /><img
      class="hover-pic"
      alt="telegram-link-hover"
      src="/assets/icons/social-github-icon-hover.svg"
  /></a>
  <a class="social-item" href="https://twitter.com/thorchain_org" target="_blank"
    ><img
      class="icon-pic"
      alt="twitter-link"
      src="/assets/icons/social-twitter-icon.svg" /><img
      class="hover-pic"
      alt="telegram-link-hover"
      src="/assets/icons/social-twitter-icon-hover.svg"
  /></a>
</div>
<div class="nav-rune-container">
  <a class="no-style" href="https://viewblock.io/thorchain">
    <div class="nav-rune" [ngClass]="{'nav-rune-new-block': updating}">
      <div class="nav-rune-logo">
        <img src="/assets/images/rune-symbol.svg" alt="">
      </div>
      <div class="nav-rune-number">
        <span [ngClass]="{'nav-rune-number-new-block': updating}" *ngIf="lastBlock">{{ lastBlock | number:'1.0':'en-US' }}</span>
        <span *ngIf="!lastBlock">CONNECTING</span>
        <!-- <div id="indicator-container">
          <span id="last-block-indicator"></span>
          <div *ngIf="updating" class="spin"></div>
        </div> -->
      </div>
    </div>
  </a>
</div>
