#indicator-container {

  position: relative;

  #last-block-indicator {
    position: relative;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 8px;
    background-color: #23dcc8;
  }

  .spin::before {
    // animation: 1s linear infinite spinner;
    animation: 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) spinner;
    animation-play-state: inherit;
    border: solid 2px transparent;
    border-bottom-color: #23dcc8;
    border-radius: 50%;
    content: "";
    height: 12px;
    position: absolute;
    top: 4px;
    left: 12px;
    transform: translate3d(-50%, -50%, 0);
    width: 12px;
    will-change: transform;
  }

}


span {
  color: white;
  font-size: 12px;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.no-style {
  text-decoration: none;
}
.nav-rune-container {
  display: flex;
  padding: 1.5px;
  width: 102px;
  border-radius: 2.5px;
  margin-top: 5px;
  background-color: white;
  transition: 0.2s ease;

  &:hover {
    background-color: #33FF99;
    transition: 0.2s ease;
    .nav-rune-number span {
      transition: 0.2s ease;
      color: #33FF99;
    }
  }

  .nav-rune-logo {
    padding: 0 5px;
    display: flex;
  }

  .nav-rune-number {
    text-align: center;
    font-size: 11px;
    line-height: 1.2;
    color: #fff;
    flex-grow: 3;
    background-color: #000;

    span {
      font-family: 'Roboto Mono', Roboto, monospace;
      font-weight: 300;
      text-align: center;
      transition: 0.2s ease;
      display: block;

      &.nav-rune-number-new-block{
        color:  #33FF99;
        transition: color 0.0s ease;
      }
    }
  }

}
.nav-rune-new-block{
  background-color:  #33FF99;
  transition: 0.0s ease;
}