<div class="container">
  <div class="content-top">
    <app-breadcrumb
      [path]="[
        { name: 'asgardex', swapView: 'Swap', mainView: 'Swap' },
        { name: 'settings',  backFunc: true},
        { name: 'slippage tolerance', disable: true}
      ]"
      message="select"
      (backFunc)="close.emit()"
    ></app-breadcrumb>
    <div class="top-right"></div>
  </div>
  <div>
    <div mat-dialog-content>
      <div id="custom-tolerance" [class.active]="customTolerance">
        <span class="custom-tolerance-label">Percentage</span>
        <input id="custom-tolerance-input" [(ngModel)]="customTolerance" [placeholder]="tolerance" name="custom-tolerance" />
      </div>
    </div>

    <!-- close dialog -->
    <div class="bottom-actions two-btn">
      <div class="left-btn">
        <button class="close-btn" (click)="close.emit()">
          <span>close</span>
        </button>
      </div>
      <div class="divider"></div>
      <div class="right-btn">
        <button class="next-btn" [disabled]="tolerance == customTolerance || !customTolerance" (click)="setSlippage()">
          <span>Save</span>
        </button>
      </div>
    </div>
  </div>
</div>
