<div class="container">

  <div style="padding: 1rem 1rem 0" class="section-head-container">
    <button (click)="back.emit()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Error Connecting</h1>
    <div style="width: 40px"></div>
  </div>


  <!-- <div class="modal-head">
  <button mat-flat-button style="color: rgb(33, 114, 229)" (click)="clearKeystore()">
    Back
  </button>
  </div> -->
  <div class="dialog-content">
    <div mat-dialog-content>


      <div class="flxr flxr--flow-col flxr--align-center flxr--just-center">
        <mat-icon>report</mat-icon>
        <p>There was an error connecting</p>
      </div>


    </div>

    <!-- <div class="flxr flxr--just-space-between flxr--align-center" style="height: 38px">
      <div>
        <span *ngIf="keystoreError" style="font-size: 0.8rem; color: #2172e5">Keystore Login Incorrect</span>
      </div>
      <div>
        <button *ngIf="!keystoreConnecting" mat-flat-button color="accent" (click)="keystoreUnlockClicked()" [disabled]="keystoreConnecting">
          <span>Unlock</span>
        </button>
        <mat-progress-spinner mode="indeterminate" diameter="30" *ngIf="keystoreConnecting"></mat-progress-spinner>

      </div>
    </div> -->

  </div>

</div>
