<div class="container">

  <div style="padding: 1rem 1rem 0" class="section-head-container">
    <button (click)="back.emit()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Error Connecting</h1>
    <div style="width: 40px"></div>
  </div>

  <div class="dialog-content">
    <div mat-dialog-content>

      <div class="flxr flxr--flow-col flxr--align-center flxr--just-center">
        <mat-icon>report</mat-icon>
        <p>There was an error connecting</p>
      </div>

    </div>

  </div>

</div>
