<div class="container">

  <div style="padding: 1rem 1rem 0" class="section-head-container">
    <h1>Keystore Found</h1>
    <div style="width: 40px"></div>
  </div>

  <div class="dialog-content">
    <div mat-dialog-content>

      <button style="cursor: auto;" class="uni-input uni-input--file" [disabled]="true">
        <span>Reconnect from previous session</span>
        <mat-icon [ngStyle]="{'color':'green'}">check</mat-icon>
      </button>

      <div class="uni-input">
        <label>Password</label>
        <input [(ngModel)]="keystorePassword" name="keystore-password" placeholder="Please Enter Password" type="password" (keyup.enter)="initUnlock()" />
      </div>

    </div>

    <div class="flxr flxr--just-space-between flxr--align-center" style="height: 38px">
      <div>
        <span *ngIf="keystoreError" style="font-size: 0.8rem; color: #2172e5">Keystore Login Incorrect</span>
      </div>
      <div>
        <button style="margin-right: 6px" *ngIf="!keystoreConnecting" mat-flat-button (click)="forgetKeystore()" [disabled]="keystoreConnecting">
          <span>Forget Keystore</span>
        </button>
        <button *ngIf="!keystoreConnecting" mat-flat-button color="accent" (click)="initUnlock()" [disabled]="keystoreConnecting">
          <span>Unlock</span>
        </button>
        <mat-progress-spinner mode="indeterminate" diameter="30" *ngIf="keystoreConnecting"></mat-progress-spinner>

      </div>
    </div>

  </div>

</div>
