<div class="container-wrapper">
  <div class="container">

    <!-- <div class="outline-btn" style="margin-bottom: 32px;">
      <h1>Keystore Found</h1>
    </div> -->

    <div class="dialog-content">
      <div class="content-top">
        <app-breadcrumb [path]="[{name: 'asgardex', swapView: 'Swap', mainView: 'Swap'}, {name: 'connect', swapView: 'Connect', mainView: 'Swap'}, {name: 'keystore found', disable: true}]" [isError]="keystoreError" [message]="keystoreError ? 'Keystore Login Incorrect' : 'enter password or forget'"></app-breadcrumb>
        <!-- <div class="top-right">
          <app-right-option></app-right-option>
        </div> -->
      </div>

      <div mat-dialog-content>

        <button style="cursor: auto; text-transform: uppercase; padding: 10px; background-color: var(--primary-default); color: #000" class="uni-input uni-input--file" [disabled]="true">
          <span>Reconnect from previous session?</span>
          <!-- <mat-icon [ngStyle]="{'color':'green'}">check</mat-icon> -->
        </button>

        <div>
          <app-arrow></app-arrow>
        </div>

        <app-text-field [(textOfField)]="keystorePassword" mode="Single" type="Password" label="Password" name="keystore-password"></app-text-field>

        <!-- <div class="uni-input">
          <label>Password</label>
          <input class="password" [(ngModel)]="keystorePassword" name="keystore-password"
            placeholder="_______________________________________" type="password" />
        </div> -->

      </div>

      <div class="bottom-actions two-btn">
        <div class="left-btn">
          <button class="close-btn" *ngIf="!keystoreConnecting" (click)="forgetKeystore()"
            [disabled]="keystoreConnecting">
            <span>Forget Keystore</span>
          </button>
        </div>
        <div class="divider"></div>
        <div class="right-btn">
          <div>
            <button class="next-btn" *ngIf="!keystoreConnecting" (click)="keystoreUnlockClicked()"
              [disabled]="keystoreConnecting || !keystorePassword">
              <span>Unlock</span>
            </button>
            <button *ngIf="keystoreConnecting" class="next-btn spinner">
              <mat-progress-spinner mode="indeterminate" diameter="30"></mat-progress-spinner>
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
