.breadcumber-container {
  display: flex;
  align-items: center;

  .path {
    font-family: 'Roboto';
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 5px;
    font-size: 14px;
    padding: 2px;

    &:hover {
      border-radius: 2px;
      background-color: #28F4AE;
      color: #000B12;
      cursor: pointer;
    }

    &--active {
      color: #28F4AE;
      font-weight: 500;
    }

  }


  .cursor {
    background: #28F4AE;
    width: 8px;
    height: 16px;
  }
}
