.breadcumber-container {
  display: flex;
  align-items: center;

  .path {
    font-family: 'Roboto';
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 5px;
    font-size: 14px;
    padding: 2px;

    &:hover:not(.disable,&--active) {
      border-radius: 2px;
      background-color: var(--primary-default);
      color: #000B12;
      cursor: pointer;
    }

    &--active {
      color: var(--primary-default);
      font-weight: 500;

    }

    &:first-of-type {
      margin-left: 0;
    }

  }

  .cursor {
    background: var(--primary-default);
    width: 8px;
    height: 16px;
  }

  &.error {

    .path--active {
      color: #FF4954 !important;
    }

    .cursor {
      background: #FF4954;
    }
  }

}
