<button
  *ngIf="user"
  class="outline-btn"
  style="border-radius: 6px; margin-right: 27px; width: 141px; height: 40px; text-transform: none;"
  (click)="openUserSettings()"
>
  <span *ngIf="pendingTxCount <= 0">{{user.wallet.substring(0, 6)}}...{{user.wallet.substring(user.wallet.length - 4, user.wallet.length)}}</span>
  <div *ngIf="pendingTxCount > 0" class="flxr flxr--align-center">
    <span style="margin-right: 8px">{{pendingTxCount}} Pending</span>
    <mat-progress-spinner class="light-spinner" mode="indeterminate" diameter="16" color="accent"></mat-progress-spinner>
  </div>
</button>
