<!-- <div class="container" *ngIf="swapData" [ngClass]="{'pending': txState === 'PENDING_CONFIRMATION', 'success': txState === 'SUCCESS', 'submit': txState === 'SUBMITTING'}"> -->
<div class="overlay-container-wrapper">
  <div class="container" *ngIf="swapData">
    <div>
      <div class="content-top">
        <div
          *ngIf="txState === 'PENDING_CONFIRMATION'"
        >
          <app-breadcrumb [path]="[{name: 'asgardex', swapView: 'Swap', mainView: 'Swap'}, {name: 'Swap', swapView: 'Swap', mainView: 'Swap'}]" message="confirm"></app-breadcrumb>
        </div>
        <div
          *ngIf="txState === 'SUBMITTING'"
        >
          <app-breadcrumb [path]="[{name: 'asgardex', swapView: 'Swap', mainView: 'Swap'}, {name: 'Swap', swapView: 'Swap', mainView: 'Swap'}]" message="TRANSACTION PROCESSING"></app-breadcrumb>
        </div>
        <div
          *ngIf="txState === 'SUCCESS'"
        >
          <app-breadcrumb [path]="[{name: 'asgardex', swapView: 'Swap', mainView: 'Swap'}, {name: 'Swap', swapView: 'Swap', mainView: 'Swap'}]" message="SUCCESS"></app-breadcrumb>
        </div>
      </div>

      <app-asset-input
        [label]="txState === 'SUBMITTING' ? 'Sending' : txState === 'SUCCESS' ? 'Sent' : 'Send'"
        [(selectedAsset)]="swapData.sourceAsset"
        [(assetUnit)]="swapData.inputValue"
        [balance]="swapData.balance"
        [disabledAssetSymbol]="swapData.sourceAsset.symbol"
        [priceInput]="swapData.sourceAssetPrice"
        [disabledMarketSelect]="true"
        [hideMax]="true"
        [isSource]="true"
      ></app-asset-input>

      <app-arrow></app-arrow>

      <app-asset-input
          [label]="txState === 'SUBMITTING' ? 'Receiving' : txState === 'SUCCESS' ? 'Received' : 'Receive'"
          [(selectedAsset)]="swapData.targetAsset"
          [(assetUnit)]="swapData.outputValue"
          [disabledAssetSymbol]="swapData.targetAsset.symbol"
          [priceInput]="swapData.targetAssetPrice"
          [disabledMarketSelect]="true"
          [hideMax]="true"
          [isSource]="false"
      ></app-asset-input>


    <div>
        <div class="swap-details" *ngIf="txState === 'PENDING_CONFIRMATION'">
          <div class="flex justify-between">
            <span class="tx-detail-label">Price:</span>
            <span
              >{{ swapData.basePrice | number: "1.2-4" }}
              {{ swapData.sourceAsset.ticker }} per
              {{ swapData.targetAsset.ticker }}</span
            >
          </div>

          <div *ngIf="swapData.sourceAsset.chain === 'BNB'" class="flex justify-between">
            <span class="tx-detail-label">Total Fee:</span>
            <span>{{swapData.bnbFee | number:"0.0-6"}} BNB + 1 RUNE</span>
          </div>

          <div *ngIf="swapData.sourceAsset.chain === 'ETH'" class="flex justify-between">
            <span class="tx-detail-label">Total Fee:</span>
            <span *ngIf="ethNetworkFee">{{ (ethNetworkFee) | number:"0.0-6"}} ETH + 1 RUNE</span>
            <span *ngIf="!ethNetworkFee"> - ETH + 1 RUNE</span>
          </div>

          <div *ngIf="swapData.sourceAsset.chain === 'THOR'" class="flex justify-between">
            <span class="tx-detail-label">Total Fee:</span>
            <span>1 Rune</span>
          </div>

          <!-- <div *ngIf="swapData.sourceAsset.chain !== 'THOR'" class="flex justify-between">
            <span class="tx-detail-label"></span>
            <span>1 Rune</span>
          </div> -->

          <div class="flex justify-between">
            <span class="tx-detail-label">Slip:</span>
            <span>{{ swapData.slip | percent: "0.2-4" }}</span>
          </div>

          <div class="flex justify-between">
            <span>Settings:</span>
            <span>{{slippageTolerance}}% slip tolerance <span>(click to adjust)</span></span>
          </div>
          <!-- <span
            style="
              display: block;
              color: #ff4954;
              font-size: 14px;
              margin-top: 5px;
            ">
            Disclaimer: I’m a BETA product. Don’t swap/deposit large</span> -->
        </div>
        <div style="margin-top: 38px;" *ngIf="txState === 'SUCCESS'">
          <app-notice [tags]="['Copy', 'Explorer']" (tagClicked)="noticeHandler($event)">
            <span text >{{hash}}</span>
            <div tag_one>
              <span>COPY</span>
            </div>
            <div tag_two>
              <a target="_blank" style="text-decoration: none; color: inherit;" *ngIf=" swapData.sourceAsset.chain === 'THOR'" [href]="thorchainExplorerUrl + '/' + hash">Explore</a>
              <a target="_blank" style="text-decoration: none; color: inherit;" *ngIf=" swapData.sourceAsset.chain === 'BNB'" [href]="binanceExplorerUrl + '/' + hash">Explore</a>
              <a target="_blank" style="text-decoration: none; color: inherit;" *ngIf="hash && swapData.sourceAsset.chain === 'BTC'" [href]="bitcoinExplorerUrl + '/' + hash">Explore</a>
              <a target="_blank" style="text-decoration: none; color: inherit;" *ngIf="hash && swapData.sourceAsset.chain === 'ETH'" [href]="ethereumExplorerUrl + '/' + hash">Explore</a>
            </div>
          </app-notice>
        </div>
      <!-- </div> -->

      <div class="bottom-actions two-btn">
        <ng-container *ngIf="txState === 'PENDING_CONFIRMATION'">
          <div class="left-btn">
            <button
              class="close-btn"
              aria-label="Close Markets Dialog"
              (click)="closeDialog()"
            >
              <span>close</span>
            </button>
          </div>
          <div class="divider"></div>
          <div class="right-btn">
            <button
              (click)="submitTransaction()"
              class="next-btn"
              [disabled]="insufficientChainBalance || loading"
            >
              <span *ngIf="!insufficientChainBalance && !loading">Confirm</span>
              <span *ngIf="insufficientChainBalance && !loading">Insufficient {{swapData.sourceAsset.chain}}</span>
              <span *ngIf="loading">Loading...</span>
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="txState === 'SUBMITTING'">
            <button
              class="next-btn"
              aria-label="TRANSACTION PROCESSING…"
              disabled
            >
              <span>PLEASE WAIT…</span>
            </button>
        </ng-container>
        <ng-container *ngIf="txState === 'SUCCESS'">
            <button
              class="close-btn"
              (click)="closeDialog()"
            >
              <span>close</span>
            </button>
        </ng-container>
      </div>

      <!-- <div
        *ngIf="txState === 'PENDING_CONFIRMATION'"
        style="display: flex; margin-top: 23px"
      >

      </div> -->

      <!-- <div *ngIf="txState === 'SUBMITTING'">
        <div style="width: 100%">
          <button
            style="background-color: #00ccff !important"
            class="next-btn"
            aria-label="TRANSACTION PROCESSING…"
          >
            <span>TRANSACTION PROCESSING…</span>
          </button>
        </div>
      </div>

      <div *ngIf="txState === 'SUCCESS'">
        <div style="width: 100%">
          <button
            class="close-btn"
            aria-label="TRANSACTION PROCESSING…"
            (click)="closeDialog()"
          >
            <span>close</span>
          </button>
        </div>
      </div> -->

    </div>
  </div>

  <!-- <app-transaction-ledger-confirm-modal *ngIf="txState === 'PENDING_LEDGER_CONFIRMATION'">
</app-transaction-ledger-confirm-modal> -->

  <!-- <app-transaction-processing-modal *ngIf="txState === 'SUBMITTING'" (closeDialog)="closeDialog()"
  transactionDetail="Swapping {{swapData.inputValue}} {{swapData.sourceAsset.ticker}} for {{swapData.outputValue}} {{swapData.targetAsset.ticker}}">
</app-transaction-processing-modal> -->

  <!-- <app-transaction-success-modal *ngIf="txState === 'SUCCESS'" [chain]="swapData.sourceAsset.chain" [hash]="hash"
  (closeDialog)="closeDialog(true)">
</app-transaction-success-modal> -->

  <!-- <div class="flex flex-col items-center p-8 text-sm" *ngIf="txState === 'ERROR'">
    <mat-icon>warning</mat-icon>
    <span class="mt-4">
      {{error}}
    </span>
  </div> -->
</div>
