.swap-modal-head {
  // font-size: 20px;

  h1, .transaction-detail {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1rem;
  }

}

.swap-modal-content {
  padding: 1rem;
  background-color: rgb(44, 47, 54);
  font-size: 14px;
}

.submitting, .success {

  .modal-head {

    h1, span, a {
      margin-bottom: 10px;
    }

    a {
      color: #2172e5 !important;
      text-decoration: none;
    }

    .swap-details {
      font-size: .8rem;
      font-weight: 500;
    }

    .addendum {
      color: rgb(195, 197, 203);
      font-size: .8rem;
      font-style: italic;
    }

  }

}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

  &--sent {

    mat-icon {
      height: auto;
      width: auto;
      font-size: 5.0rem;
      color: #2172e5 !important;
    }
  }
}
