<div class="success">
  <div class="icon-container icon-container--sent">
    <mat-icon>arrow_circle_up</mat-icon>
  </div>

  <div class="flxr flxr--just-center flxr--flow-col flxr--align-center modal-head">

    <h1 mat-dialog-title style="font-size: 1.4rem">{{label}}</h1>

    <a target="_blank" *ngIf="hash" [href]="'https://testnet-explorer.binance.org/tx/' + hash">View on BNC Explorer</a>

    <button (click)="closeDialog.emit()" mat-flat-button color="primary" class="main-action-btn">Close</button>

  </div>

</div>
