<div class="container">

  <div style="padding: 1rem 1rem 0" class="section-head-container">
    <button (click)="onBackClick()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Ledger Login</h1>
    <div style="width: 40px"></div>
  </div>

  <div class="dialog-content">
    <div mat-dialog-content>

      <div *ngIf="view === 'pendingConnect'">

        <ol id="ledger-instructions">

          <li class="step">
            <span style="margin-top: 15px;">1. Enter Pin Code</span>
            <img src="/assets/images/ledger/ledger-pin.svg" />
          </li>

          <li class="step">
            <span>2. Open Binance Chain</span>
            <img style="margin-top: 12px;" src="/assets/images/ledger/ledger-app.svg" />
          </li>

        </ol>

        <div class="flxr flxr--flow-col ledger-help">
          <span>“Binance Chain Ready” must be on-screen</span>
          <a target="_blank" href="https://www.binance.org/static/guides/DEX-Ledger-Documentation.html">Installation and Usage Guide</a>
          <a target="_blank" href="https://support.ledger.com/hc/en-us/articles/115005165269-Connection-issues-with-Windows-or-Linux">Connection Issues?</a>
        </div>

        <br />


        <div class="flxr flxr--just-end">
          <button *ngIf="!loading" mat-button color="primary" (click)="connectLedger()">Connect Ledger</button>
          <mat-progress-spinner *ngIf="loading" diameter="16" color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>

      </div>

      <div *ngIf="view === 'selectAddress'">
        <div *ngIf="!loading">
          <label id="select-address-group">Select an Address</label>
          <mat-radio-group
            aria-labelledby="select-address-group"
            class="select-address-group"
            [(ngModel)]="selectedAddress">
            <mat-radio-button class="ledger-address-selection" *ngFor="let address of addresses" [value]="address">
              {{address}}
            </mat-radio-button>
          </mat-radio-group>

          <div style="float: left; width: 100%;" class="flxr flxr--just-end">
            <button mat-button color="primary" (click)="selectAddress()">Select</button>
          </div>
        </div>

        <div *ngIf="loading" class="flxr flxr--align-center flxr--just-center" style="height: 100%; width: 100%; min-height: 261px;">
          <mat-progress-spinner diameter="16" color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>

      </div>

      <div class="pending-confirmation" *ngIf="view === 'pendingConfirmation'">
        <div class="flxr flxr--just-center">
          <img src="/assets/images/ledger/lock.svg" />
        </div>
        <p>For security purposes, please check:</p>
        <p>{{selectedAddress}}</p>
        <p>Is the address shown on your Ledger screen.</p>
        <p>Confirm on your device to continue.</p>
      </div>

    </div>

  </div>

</div>


