<div class="container">

  <app-section-head sectionTitle="Create Pool" [backRouterLink]="['/', 'pool']"></app-section-head>

  <div style="position: relative;">

    <app-asset-input
      label="Input"
      [(selectedAsset)]="asset"
      [(assetUnit)]="assetAmount"
      [balance]="assetBalance"
      [disabledAssetSymbol]="rune.symbol"
      [coinGeckoList]="coinGeckoList"
      [selectableMarkets]="selectableMarkets">
    </app-asset-input>

    <div class="flxr flxr--align-center flxr--just-center">
      <mat-icon [class.disabled]="true" class="to-btn-icon">add</mat-icon>
    </div>

    <app-asset-input
      label="Input"
      [(selectedAsset)]="rune"
      [(assetUnit)]="runeAmount"
      [balance]="runeBalance"
      [hideMax]="true"
      [disabledMarketSelect]="true"
      [disabledAssetSymbol]="rune.symbol"
      [coinGeckoList]="coinGeckoList">
    </app-asset-input>

    <div class="flxr flxr--just-space-between" style="margin-bottom: 6px;">
      <span class="tx-detail-label">Recommended RUNE Total</span>
      <span *ngIf="recommendedRuneAmount">{{ recommendedRuneAmount | number:"0.0-0" }}</span>
      <span *ngIf="!recommendedRuneAmount"> - </span>
    </div>


    <div style="font-size: 0.8rem; font-style: italic;">
      *A minimum of 1,000 RUNE + balancing asset is required to create a pool
    </div>

    <div class="flxr">
      <app-approve-eth-contract
        *ngIf="ethContractApprovalRequired"
        style="width: 50%; margin-right: 8px;"
        [contractAddress]="ethRouter"
        [asset]="asset"
        (approved)="contractApproved()">
      </app-approve-eth-contract>

      <button
        (click)="openConfirmationDialog()"
        class="main-action-btn"
        mat-flat-button
        color="primary"
        [ngStyle]="{'width': ethContractApprovalRequired ? '50%' : '100%'}"
        [disabled]="formDisabled()">
          {{mainButtonText()}}
      </button>
    </div>

  </div>

</div>
