<div class="container">

  <app-section-head sectionTitle="Create Pool" [backRouterLink]="['/', 'pool']"></app-section-head>

  <div style="position: relative;">

    <app-asset-input
      label="Input"
      [(selectedAsset)]="asset"
      [(assetUnit)]="assetAmount"
      [balance]="assetBalance"
      [disabledAssetSymbol]="rune.symbol"
      [coinGeckoList]="coinGeckoList"
      [selectableMarkets]="selectableMarkets">
    </app-asset-input>

    <div class="flxr flxr--align-center flxr--just-center">
      <mat-icon [class.disabled]="true" class="to-btn-icon">add</mat-icon>
    </div>

    <app-asset-input
      label="Input"
      [(selectedAsset)]="rune"
      [(assetUnit)]="runeAmount"
      [balance]="runeBalance"
      [hideMax]="true"
      [disableInput]="true"
      [disabledAssetSymbol]="rune.symbol"
      [disabledMarketSelect]="true"
      [coinGeckoList]="coinGeckoList">
    </app-asset-input>

    <div style="font-size: 0.8rem; font-style: italic;">
      *A minimum of 1,000 RUNE + balancing asset is required to create a pool
    </div>

    <button
      (click)="openConfirmationDialog()"
      class="main-action-btn"
      mat-flat-button
      color="primary"
      [disabled]="formDisabled()"
    >
      {{mainButtonText()}}
    </button>

    <div class="tag">
      <div class="tag-contents">
        <div class="flxr flxr--just-space-between" style="margin-bottom: 6px;">
          <span class="tx-detail-label">Total Fee</span>
          <span>-0.000375 BNB</span>
        </div>
      </div>
    </div>

  </div>

</div>
