<header>
  <h1>
    <a class="flxr flxr--align-center" [routerLink]="['/', 'swap']">
      <img style="width: 36.61px; height: 42px; margin-right: 8px" src="assets/images/vanaheimex-green.svg" />
      <span class="title">vanaheimex
        <span class="testnet">testnet</span>
      </span>
      <img style="margin-left: 15px; margin-top: 5px;" src="assets/images/plus-unstoppable-domains.svg" alt="unstoppable domains">
    </a>
  </h1>
  <div class="header-right">
    <app-user-settings *ngIf="user" [user]="user" [(overlay)]="overlay"></app-user-settings>
    <!-- <span id="testnet-indicator" *ngIf="isTestnet">Testnet</span> -->
    <div>
      <div class="header-social flxr">
        <a class="header-logo header-logo--telegram" href="" target="_blank"></a>
        <a class="header-logo header-logo--github" href="https://github.com/Pusher-Labs/asgard-exchange" target="_blank"></a>
        <a class="header-logo header-logo--twitter" href="https://twitter.com/asgardex" target="_blank"></a>
      </div>
      <div class="flxr thorchain-indicator">
        <app-last-block-indicator></app-last-block-indicator>
      </div>
    </div>
    <!-- <app-connect *ngIf="!user"></app-connect> -->
  </div>
</header>
