header {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 1rem 0px;

  h1 {
    margin: 0;
    letter-spacing: 1px;
    font-size: 1.2rem;
    // font-family: 'Cormorant Garamond', serif;
    font-family: 'VT323', monospace;

    a {
      color: white;
      text-decoration: none;;
    }
  }

  #testnet-indicator {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    background-color: rgba(243, 132, 30, 0.05);
    color: #f3841e;
    font-weight: 500;
    border-radius: 8px;
    padding: 8px 12px;
    margin-right: 8px;
    font-size: 0.8rem;
  }
}
