<div style="padding: 1rem 1rem 0; margin-bottom: 0;" class="section-head-container">
  <button (click)="back.emit()" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<div class="modal-head" style="padding-top: 0">

  <div class="flxr flxr--flow-col flxr--just-center flxr--align-center">
    <div style="width: 40px; margin-bottom: 1rem;">
      <img *ngIf="asset && asset.asset && asset.asset.iconPath" class="asset-icon" [src]="asset && asset.asset && asset.asset.iconPath" appImgFallback style="max-width: 100%;" />
    </div>

    <div *ngIf="address" style="text-align: center">
      <qrcode [qrdata]="address" [width]="256" [errorCorrectionLevel]="'M'" [elementType]="'svg'"></qrcode>
      <span style="font-size: 0.8rem">{{address}}</span>
    </div>

    <span *ngIf="asset" class="asset-balance">{{asset.balance.amount().toNumber()}} {{asset.asset.ticker}}</span>
    <div style="height: 17px">
      <span class="usd-value" *ngIf="usdValue">≈ ${{usdValue | number:"0.0-2"}}</span>
    </div>

  </div>

  <ul class="actions flxr flxr--just-center">
    <li class="action flxr flxr--flow-col">
      <button mat-mini-fab color="primary" aria-label="Send" (click)="send.emit()">
        <mat-icon>upgrade</mat-icon>
      </button>
      Send
    </li>

    <li class="action flxr flxr--flow-col flxr--align-center">
      <button mat-mini-fab color="primary" aria-label="Copy" (click)="copyToClipboard()">
        <mat-icon>content_copy</mat-icon>
      </button>
      Copy
    </li>

    <!-- NATIVE RUNE DEPOSIT -->
    <li *ngIf="asset && asset.asset.chain === 'THOR' && asset.asset.ticker === 'RUNE'" class="action flxr flxr--flow-col flxr--align-center">
      <button mat-mini-fab color="primary" aria-label="Copy" (click)="deposit.emit()">
        <mat-icon>flash_on</mat-icon>
      </button>
      Deposit
    </li>

    <!-- UPGRADE BNB/ETH RUNE TO NATIVE RUNE -->
    <li *ngIf="asset && (asset.asset.chain === 'BNB' || asset.asset.chain === 'ETH') && asset.asset.ticker === 'RUNE'" class="action flxr flxr--flow-col flxr--align-center">
      <button mat-mini-fab color="primary" aria-label="Copy" (click)="upgradeRune.emit()">
        <mat-icon>upgrade</mat-icon>
      </button>
      Native RUNE
    </li>

  </ul>

  <app-testnet-warning *ngIf="asset && asset.asset && asset.asset.chain" [chain]="asset.asset.chain"></app-testnet-warning>

</div>

<!-- <div mat-dialog-content>
  <p>txs here</p>
</div> -->
