.asset-balance {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.usd-value {
  font-size: 0.8rem;
  color: #fff;
}

.actions {
  padding: 1rem;

  .action {
    padding: 1rem;
    font-size: 0.8rem;
  }
}

.explorer-link {
  margin: 4px 0 0 6px;

  .mat-icon {
    color: #C7D0CB;
    font-size: 14px;
    width: 16px;
    height: 16px;
  }
}
