<div style="padding: 1rem 1rem 0; margin-bottom: 0;" class="section-head-container">
  <button (click)="back.next()" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 *ngIf="chain" class="flxr">
    Add {{chain}} Token
  </h1>
  <div style="width: 40px"></div>
</div>

<div mat-dialog-content>

  <div *ngIf="!error" style="padding: 1rem">

    <div class="uni-input">
      <label>Token Contract Address</label>
      <input [(ngModel)]="tokenAddress" name="custom-token-address" placeholder="Enter {{chain}} Token Address" />
    </div>

    <div class="flxr flxr--just-end flxr--align-center" style="height: 38px">
      <div>
        <button *ngIf="!loading" mat-flat-button color="accent" [disabled]="tokenAddress.length < 40 || tokenAddress.length > 42 || !ethClient || !chainAddress || !chain" (click)="addToken()">
          <span>Add Token</span>
        </button>
        <mat-progress-spinner mode="indeterminate" diameter="30" *ngIf="loading"></mat-progress-spinner>
      </div>
    </div>

  </div>

  <div *ngIf="error">
    An error occurred <br />
    {{error}}
  </div>

</div>
