<div class="container">

  <div class="section-head-container">
    <a [routerLink]="['/', 'pool']" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </a>
    <h1>Remove Liquidity</h1>
    <div style="width: 40px"></div>
  </div>

  <div style="position: relative;">
    <div class="uni-input">

      <span>Amount</span>

      <span class="unstake-percent">{{unstakePercent}}%</span>

      <mat-slider
        class="slider"
        [disabled]="!user"
        [max]="100"
        [min]="0"
        step="1"
        [tickInterval]="25"
        [(ngModel)]="unstakePercent">
      </mat-slider>

    </div>

    <div class="flxr flxr--align-center flxr--just-center">
      <button [disabled]="true">
        <mat-icon [class.disabled]="true" class="to-btn-icon">arrow_downward</mat-icon>
      </button>
    </div>

    <div class="uni-input">

      <div *ngIf="asset" class="unstake-calc flxr flxr--just-space-between">
        <span *ngIf="removeAssetAmount">{{removeAssetAmount | number:"0.0-6"}}</span>
        <span *ngIf="!removeAssetAmount">-</span>
        <app-icon-ticker [iconPath]="asset.iconPath" [ticker]="asset.ticker"></app-icon-ticker>

      </div>

      <div class="unstake-calc flxr flxr--just-space-between">
        <span *ngIf="removeRuneAmount">{{removeRuneAmount | number:"0.0-6"}}</span>
        <span *ngIf="!removeRuneAmount">-</span>
        <app-icon-ticker [iconPath]="rune.iconPath" [ticker]="rune.ticker"></app-icon-ticker>

      </div>

    </div>

    <div *ngIf="asset" style="padding: 10px 20px; font-size: 0.8rem;" class="prices">

      <div class="flxr flxr--just-space-between" style="margin-bottom: 6px;">
        <span class="tx-detail-label">Prices</span>
        <span>1 {{rune.ticker}} = {{assetBasePrice | number:"1.2-4"}} {{asset.ticker}}</span>
      </div>

      <div class="flxr flxr--just-space-between" style="margin-bottom: 6px;">
        <span></span>
        <span>1 {{asset.ticker}} = {{runeBasePrice | number:"1.2-4"}} {{rune.ticker}}</span>
      </div>

      <div class="flxr flxr--just-space-between" style="margin-bottom: 6px;">
        <span class="tx-detail-label">TX Fees</span>
        <span>1 RUNE</span>
      </div>

      <div class="flxr flxr--just-space-between" style="margin-bottom: 6px;">
        <span class="tx-detail-label"></span>
        <span>{{assetBasePrice | number:"0.0-4"}} {{asset.ticker}}</span>
      </div>

      <div class="flxr flxr--just-space-between" style="margin-bottom: 6px;">
        <span class="tx-detail-label">Network Fee</span>
        <span>0.0003 BNB</span>
      </div>

    </div>

    <button
      (click)="openConfirmationDialog()"
      class="main-action-btn"
      mat-flat-button
      color="primary"
      [disabled]="!user || !removeAssetAmount || (removeAssetAmount && removeAssetAmount <= 0 || remainingTime)"
    >
      <span *ngIf="!user">Please connect wallet</span>
      <span *ngIf="user && remainingTime">Withdraw Enabled in {{remainingTime}}</span>
      <span *ngIf="user && !remainingTime && !removeAssetAmount || (removeAssetAmount && removeAssetAmount <= 0)">Enter an amount</span>
      <span *ngIf="user && !remainingTime && removeAssetAmount && removeAssetAmount > 0">Unstake</span>
    </button>

  </div>

</div>

