.market-list-container {
  position: relative;
  height: 475px;
  width: 100%;
  overflow: auto;
  will-change: transform;
  direction: ltr;
  border-top: 1px solid rgb(44, 47, 54);
}

.market-list {
  // border-top: 1px solid #edeef2;
}

.market-list-item {
  display: flex;
  align-items: center;
  padding: 4px 20px;
  height: 56px;
  cursor: pointer;

  &:hover {
    background-color: rgb(44, 47, 54);
  }

  &.disabled {
    // background-color: rgb(44, 47, 54);
    color: #565a69;
    background-color: transparent;
    cursor: inherit;
  }

  &__symbol {
    font-size: 1rem;
    font-weight: 500;
  }
}

.list-title {
  font-size: 14px;
  font-weight: 500;
  padding: 0 1rem 1rem;
}

