// .overlay-of-content {
//     position: absolute;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     top: 0;
//     left: 0;
//     background-color: #16191b;
//     width: 100%;
// }

.overlay-of-content {
    // padding: 51px 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: 2px solid transparent;
    // border-radius: 20px;
}

.uni-input {
  border: 2px solid var(--primary-default);
  border-radius: 10px;
}

.search-input {
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  line-height: initial;

  &::placeholder {
    color: white;
  }
}
