
<div class="overlay-of-content">

  <div class="modal-head">
    <!-- <h1 mat-dialog-title>Select a token</h1> -->

    <div class="uni-input" style="height: 48px; padding: 0 17px">
      <input class="search" [(ngModel)]="searchTerm" name="keystore-password" placeholder="Search" />
    </div>
  </div>
  <div>
    <div mat-dialog-content>

      <app-assets-list
        [loading]="loading"
        [assetListItems]="filteredMarketListItems"
        [disabledAssetSymbol]="disabledAssetSymbol"
        (selectAsset)="selectItem($event)">
      </app-assets-list>

    </div>

  </div>

  <!-- close dialog -->
  <div class="bottom-actions" style="margin: 30px 0;">
    <button class="close-btn" aria-label="Close Markets Dialog" (click)="closeDialog()">
      <span>close</span>
    </button>
  </div>

</div>

