/**
 * Connect Styling
 */
.connect-option {
  text-transform: uppercase;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: white;
  padding: 4px 20px;
  height: 56px;
  width: 377px;
  border-radius: 3px;
  margin: auto;

  span {
    display: flex;
    flex-flow: row nowrap;
    font-size: 21px;
    font-weight: 700;
  }

  &:hover {
    cursor: pointer;
    color: #000b12;
    background-color: #28f4af;
    // border: 1px solid rgb(33, 114, 229);
  }

  &:disabled {
    color: #888d9b;

    &:hover {
      // border: 1px solid rgb(64, 68, 79);
      background-color: transparent;
      cursor: inherit;
    }
  }

  &__logo {
    width: 24px;
  }

  #ledger-logo {
    background-color: white;
    border-radius: 5px;
    padding: 3px;
  }
}

.connect-wallet {
  text-transform: uppercase;
  font-family: Roboto;
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 100%;
  height: 56px;
  background-color: #fff;
  color: #000b12;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  padding: 10px 0;
}
