
<div *ngIf="!connectionMethod">
  <div class="modal-head">
    <h1 mat-dialog-title>Connect to a wallet</h1>
  </div>
  <div>
    <div mat-dialog-content>

      <!-- Connect Options -->

      <button class="connect-option" (click)="connectWalletConnect()" [disabled]="isTestnet">
        <img src="assets/images/wallet-connect-icon.svg" />
        <span>Wallet Connect</span>
      </button>

      <button class="connect-option" (click)="connectKeystore()">
        <mat-icon>vpn_key</mat-icon>
        <span>Keystore</span>
      </button>

    </div>

    <!-- close dialog -->
    <div mat-dialog-actions class="dialog-actions">
      <button mat-icon-button aria-label="Close Connect Wallet Dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>

<!-- KEYSTORE -->
<app-keystore-connect *ngIf="connectionMethod == 'KEYSTORE'" (back)="clearConnectionMethod()" (closeModal)="close()"></app-keystore-connect>

<!-- Wallet Connect -->
<!-- Wallet connect library launches their own modal -->
<!-- This should only be exposed if Wallet Connect is closed without connecting -->
<app-connect-error *ngIf="connectionMethod == 'WALLET_CONNECT'" (back)="clearConnectionMethod()"></app-connect-error>
