
.connect-option {
  background-color: rgb(247, 248, 250);
  outline: none;
  border: 1px solid rgb(237, 238, 242);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 0px;
  opacity: 1;
  width: 100% !important;
  margin-bottom: 10px;

  span {
    display: flex;
    flex-flow: row nowrap;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 500;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid rgb(255, 0, 122);
  }
}

.keystore-input {
  background-color: rgb(247, 248, 250);
  outline: none;
  border: 1px solid rgb(237, 238, 242);
  border-radius: 12px;
  display: flex;
  // flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 0px;
  opacity: 1;
  width: 100% !important;
  margin-bottom: 10px;

  flex-flow: column;
  justify-content: start;
  align-items: flex-start;

  label {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 500;
    font-size: 14px;
    color: rgb(86, 90, 105);
  }

  input {
    background-color: transparent;
    border: none;
    width: 100%;


    color: rgb(0, 0, 0);
    // width: 0px;
    // position: relative;
    font-weight: 500;
    outline: none;
    border: none;
    flex: 1 1 auto;
    // background-color: rgb(255, 255, 255);
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.75rem 0.75rem 0.75rem 0;
    appearance: textfield;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgb(196, 196, 196);
      opacity: 1; /* Firefox */
    }


    &:focus {
      outline: none;
    }
  }

}
