
<div *ngIf="!connectionMethod">
  <div class="modal-head">
    <h1 mat-dialog-title>Connect to a wallet</h1>
  </div>
  <div>
    <div mat-dialog-content>

      <!-- Connect Options -->

      <button class="connect-option" (click)="connectWalletConnect()" [disabled]="isTestnet">
        <img class="connect-option__logo" src="assets/images/wallet-connect-icon.svg" />
        <span>Wallet Connect</span>
      </button>

      <button class="connect-option" (click)="connectLedger()" [disabled]="isTestnet">
        <img id="ledger-logo" class="connect-option__logo" src="assets/images/ledger/ledger-logo.png" />
        <span>Ledger</span>
      </button>

      <button class="connect-option" (click)="connectKeystore()">
        <mat-icon class="connect-option__logo">vpn_key</mat-icon>
        <span>Keystore</span>
      </button>

    </div>

    <!-- close dialog -->
    <div mat-dialog-actions class="dialog-actions">
      <button mat-icon-button aria-label="Close Connect Wallet Dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>

<!-- KEYSTORE -->
<app-keystore-connect *ngIf="connectionMethod == 'KEYSTORE'" (back)="clearConnectionMethod()" (closeModal)="close()"></app-keystore-connect>

<!-- Ledger -->
<app-ledger-connect *ngIf="connectionMethod == 'LEDGER'" (back)="clearConnectionMethod()" (closeModal)="close()"></app-ledger-connect>

<!-- <app-connect-error *ngIf="error" (back)="clearConnectionMethod()"></app-connect-error> -->
