
<!-- <button *ngIf="!user && pendingTxCount <= 0" (click)="openCreateKeystoreDialog()">Create Keystore</button> -->

<button *ngIf="!user && pendingTxs?.length <= 0" mat-flat-button color="accent" (click)="openDialog()" disableRipple>Connect to a wallet</button>

<button
  *ngIf="user && pendingTxs?.length <= 0"
  mat-flat-button
  style="background-color: rgb(44, 47, 54); border: 1px solid rgb(64, 68, 79);"
  (click)="openUserSettings()"
>
  {{user.wallet.substring(0, 6)}}...{{user.wallet.substring(user.wallet.length - 4, user.wallet.length)}}
</button>

<button mat-flat-button color="primary" *ngIf="pendingTxs && pendingTxs.length > 0" (click)="openPendingTxs()">
  <div class="flxr flxr--align-center">
    <span style="margin-right: 8px">{{pendingTxs.length}} Pending</span>
    <mat-progress-spinner class="light-spinner" mode="indeterminate" diameter="16" color="accent"></mat-progress-spinner>
  </div>
</button>
