<!-- <input [(ngModel)]="password" name="password" type="password" />
<button (click)="createKeystore()">Create Keystore</button> -->



<div class="container">

  <div style="padding: 1rem 1rem 0" class="section-head-container">
    <button (click)="close()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Create Keystore</h1>
    <div style="width: 40px"></div>
  </div>


  <!-- <div class="modal-head">
  <button mat-flat-button style="color: rgb(33, 114, 229)" (click)="clearKeystore()">
    Back
  </button>
  </div> -->
  <div class="dialog-content">
    <div mat-dialog-content>

      <!-- <input #keystoreInput hidden="true" type="file" onclick="this.value=null" (change)="onKeystoreFileChange($event)" />
      <button class="uni-input uni-input--file" (click)="keystoreInput.click()">
        <span>Upload Keystore File</span>
        <mat-icon *ngIf="!keystoreFileSelected">vpn_key</mat-icon>
        <mat-icon *ngIf="keystoreFileSelected" [ngStyle]="{'color':'green'}">check</mat-icon>
      </button> -->

      <!-- <div class="uni-input">
        <label>Keystore Phrase</label>
        <textarea [value]="phrase" name="keystore-phrase" [disabled]="true" rows="3"></textarea>
      </div>

      <br /> -->


      <div class="uni-input">
        <label>Password</label>
        <input [(ngModel)]="password" name="keystore-password" placeholder="Please Create Password" type="password" />
      </div>

    </div>

    <div class="flxr flxr--just-space-between flxr--align-center" style="height: 38px">
      <div>
        <span *ngIf="error" style="font-size: 0.8rem; color: #2172e5">Error Creating Keystore</span>
      </div>
      <div>
        <button *ngIf="!loading" mat-flat-button color="accent" (click)="createKeystore()" [disabled]="!phrase || !password">
          <span>Create Keystore</span>
        </button>
        <mat-progress-spinner mode="indeterminate" diameter="30" *ngIf="loading"></mat-progress-spinner>

      </div>
    </div>

  </div>

</div>
