<div class="inner-container">

  <!-- <div class="outline-btn">
    <h1>Create Keystore</h1>
    <div style="width: 40px"></div>
  </div> -->

  <div class="dialog-content">

    <div class="content-top">
      <app-breadcrumb [path]="['asgardex', 'connect', 'create keystore']" [isError]="error" [message]="error ? 'Error Creating Keystore' : 'set password'"></app-breadcrumb>
      <div class="top-right">
      </div>
    </div>


    <div mat-dialog-content>

      <div class="uni-input" style="margin-bottom: 38px;">
        <label>Password</label>
        <input class="password" [(ngModel)]="password" name="keystore-password" placeholder="________________________________________" type="password" />
      </div>

      <div class="uni-input">
        <label>Confirm Password</label>
        <input class="password" [(ngModel)]="confirmPassword" name="confirm-password" placeholder="________________________________________" type="password" />
      </div>

    </div>

    <div class="disclaimer">
      <span>This will create and download a keystore to your computer.</span>
    </div>
  </div>

  <div class="bottom-actions two-btn">
    <div class="left-btn">
      <button class="close-btn" (click)="back.emit()">
        <span>cancel</span>
      </button>
    </div>
    <div class="divider"></div>
    <div class="right-btn">
      <!-- <div>
        <span *ngIf="error" style="font-size: 0.8rem; color: #2172e5">Error Creating Keystore</span>
      </div> -->
      <div>
        <button class="next-btn" *ngIf="!loading" (click)="createKeystore()" [disabled]="!phrase || !password || password != confirmPassword">
          <span>Create</span>
        </button>
        <mat-progress-spinner mode="indeterminate" diameter="30" *ngIf="loading"></mat-progress-spinner>
      </div>
    </div>
  </div>

</div>
