<div class="container">

  <div class="section-head-container pt-4 px-4">
    <button (click)="back.emit()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Create Keystore</h1>
    <div style="width: 40px"></div>
  </div>

  <div class="dialog-content">
    <div mat-dialog-content>

      <div class="uni-input">
        <label>Password</label>
        <input [(ngModel)]="password" name="keystore-password" placeholder="Please Create Password" type="password" />
      </div>

      <div class="uni-input">
        <label>Confirm Password</label>
        <input [(ngModel)]="confirmPassword" name="confirm-password" placeholder="Please confirm password" type="password" />
      </div>

    </div>

    <div class="mb-4">
      <small><i>*This will create and download a keystore to your computer.</i></small>
    </div>

    <div class="flex justify-between items-center" style="height: 38px">
      <div>
        <span *ngIf="error" style="font-size: 0.8rem; color: #2172e5">Error Creating Keystore</span>
      </div>
      <div>
        <button *ngIf="!loading" mat-flat-button color="primary" (click)="createKeystore()" [disabled]="!phrase || !password || password != confirmPassword">
          <span>Create Keystore</span>
        </button>
        <mat-progress-spinner mode="indeterminate" diameter="30" *ngIf="loading"></mat-progress-spinner>

      </div>
    </div>

  </div>

</div>
