<div *ngIf="mode === 'ADDRESSES'">
  <div class="modal-head">
    <h1 mat-dialog-title>User Settings</h1>
  </div>
  <div>
    <div mat-dialog-content>

      <div style="padding: 0 1rem 1rem">
        <div *ngIf="loading" class="icon-container">

          <mat-progress-spinner mode="indeterminate" diameter="60"></mat-progress-spinner>

        </div>

        <div *ngIf="!loading">

          <app-slippage-tolerance></app-slippage-tolerance>

          <div>
            <button (click)="mode = 'PENDING_TXS'" class="pending-tx-btn flxr flxr--align-center" style="padding-left: 0;">
              Transactions ({{pendingTxCount}} Pending)
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>

          <div *ngIf="thorAddress" class="uni-input user-address" (click)="selectAddress(thorAddress, 'THOR')">
            <label>RUNE Address</label>

            <div class="flxr flxr--align-center" style="width: 100%">
              <div class="asset-icon-container">
                <img class="asset-icon" src="https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/binance/assets/RUNE-B1A/logo.png" />
              </div>
              <input [value]="thorAddress.substring(0, 8) + '...' + thorAddress.substring(thorAddress.length - 4, thorAddress.length)" name="rune-address" [disabled]="true" />
            </div>
          </div>

          <div *ngIf="bitcoinAddress" class="uni-input user-address" (click)="selectAddress(bitcoinAddress, 'BTC')">
            <label>Bitcoin Address</label>

            <div class="flxr flxr--align-center" style="width: 100%">
              <div class="asset-icon-container">
                <img class="asset-icon" src="https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/binance/assets/BTCB-1DE/logo.png" />
              </div>
              <input [value]="bitcoinAddress.substring(0, 8) + '...' + bitcoinAddress.substring(bitcoinAddress.length - 4, bitcoinAddress.length)" name="btc-address" [disabled]="true" />
            </div>
          </div>

          <div *ngIf="ethereumAddress" class="uni-input user-address" (click)="selectAddress(ethereumAddress, 'ETH')">
            <label>Ethereum Address</label>

            <div class="flxr flxr--align-center" style="width: 100%">
              <div class="asset-icon-container">
                <img class="asset-icon" src="https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/ethereum/info/logo.png" />
              </div>
              <input [value]="ethereumAddress.substring(0, 8) + '...' + ethereumAddress.substring(ethereumAddress.length - 4, ethereumAddress.length)" name="ethereum-address" [disabled]="true" />
            </div>
          </div>

          <div *ngIf="binanceAddress" class="uni-input user-address" (click)="selectAddress(binanceAddress, 'BNB')">
            <label>BNB Address</label>

            <div class="flxr flxr--align-center" style="width: 100%">
              <div class="asset-icon-container">
                <img class="asset-icon" src="assets/images/token-icons/bnb.png" />
              </div>
              <input [value]="binanceAddress.substring(0, 8 ) + '...' + binanceAddress.substring(binanceAddress.length - 4, binanceAddress.length)" name="binance-address" [disabled]="true" />
            </div>
          </div>

          <div class="flxr flxr--just-end">
            <button style="margin-right: 6px" mat-flat-button (click)="mode = 'VIEW_PHRASE'">
              <mat-icon>visibility</mat-icon>
              View Phrase
            </button>
            <button (click)="disconnect()" mat-flat-button color="primary">Disconnect</button>
          </div>

        </div>

      </div>

    </div>

    <!-- close dialog -->
    <div mat-dialog-actions class="dialog-actions">
      <button mat-icon-button aria-label="Close Connect Wallet Dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>

<app-pending-txs-modal *ngIf="mode === 'PENDING_TXS'" (back)="mode = 'ADDRESSES'"></app-pending-txs-modal>

<app-user-address
  *ngIf="mode === 'ADDRESS'"
  [chain]="selectedChain"
  [address]="selectedAddress"
  (back)="clearSelectedAddress()"
  (navigateToAsset)="selectAsset($event)">
</app-user-address>

<app-user-asset
  *ngIf="mode === 'ASSET'"
  [asset]="selectedAsset"
  [address]="selectedAddress"
  (back)="clearSelectedAsset()"
  (send)="mode = 'SEND'"
  (upgradeRune)="mode = 'UPGRADE_RUNE'"
  (deposit)="mode = 'DEPOSIT'">
</app-user-asset>

<app-send-asset
  *ngIf="mode === 'SEND'"
  [asset]="selectedAsset"
  (confirmSend)="confirmSend($event)"
  (back)="mode = 'ASSET'">
</app-send-asset>

<app-confim-send
  *ngIf="mode === 'CONFIRM_SEND'"
  [amount]="amountToSend"
  [recipientAddress]="recipient"
  [asset]="selectedAsset"
  (back)="mode = 'SEND'"
  (transactionSuccessful)="transactionSuccessful()">
</app-confim-send>

<app-upgrade-rune
  *ngIf="mode === 'UPGRADE_RUNE'"
  [asset]="selectedAsset"
  (confirmUpgrade)="confirmUpgradeRune($event)"
  (back)="mode = 'ASSET'">
</app-upgrade-rune>

<app-upgrade-rune-confirm
  *ngIf="mode === 'CONFIRM_UPGRADE_RUNE'"
  [asset]="selectedAsset"
  [amount]="amountToSend"
  (back)="mode = 'UPGRADE_RUNE'"
  (transactionSuccessful)="transactionSuccessful()">
</app-upgrade-rune-confirm>

<app-view-phrase
  *ngIf="mode === 'VIEW_PHRASE'"
  (back)="mode = 'ADDRESSES'">
</app-view-phrase>

<app-deposit
  *ngIf="mode === 'DEPOSIT'"
  [asset]="selectedAsset"
  (back)="mode = 'ASSET'">
</app-deposit>
