
<div *ngIf="stakeData" class="pool-list-item">

  <div class="flxr flxr--just-space-between flxr--align-center">

    <div class="flxr">

      <!--TODO: this is used in asset-input, should be refactored -->
      <div style="margin-right: 8px;" class="asset-icon-container flxr flxr--align-center">
        <img *ngIf="stakeData.asset.iconPath" [src]="stakeData.asset.iconPath" />
        <mat-icon *ngIf="!stakeData.asset.iconPath">help_outline</mat-icon>
      </div>
      <span style="font-size: 20px">{{stakeData.asset.ticker}}</span>
      <!-- end -->

    </div>

    <button (click)="toggleExpanded()" style="color: white" mat-icon-button>
      <mat-icon>expand_more</mat-icon>
    </button>

  </div>

  <div [hidden]="!expanded" class="staked-data-details">
    <div *ngIf="pooledRune" class="flxr flxr--just-space-between pool-detail-row">
      <span>Pooled RUNE</span>
      <span>{{pooledRune | number:"0.0-6"}}</span>
    </div>
    <div *ngIf="pooledAsset" class="flxr flxr--just-space-between pool-detail-row">
      <span>Pooled {{stakeData.asset.ticker}}</span>
      <span>{{pooledAsset | number:"0.0-6"}}</span>
    </div>
    <div *ngIf="pooledAsset" class="flxr flxr--just-space-between pool-detail-row">
      <span>Pool Share</span>
      <span>{{poolShare | percent:"0.0-6"}}</span>
    </div>


    <div class="flxr flxr--just-space-between">
      <a mat-flat-button style="width: 50%; margin-right: 5px" color="primary" [routerLink]="['/', 'stake', 'BNB.' + stakeData.asset.symbol]">Add</a>
      <a mat-flat-button style="width: 50%; margin-left: 5px" color="primary" [routerLink]="['/', 'unstake', 'BNB.' +  stakeData.asset.symbol]">Remove</a>
    </div>
  </div>

</div>

