.pool-list-item {
  float: left;
  width: 100%;
  border: 1px solid #40444f;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 12px;
}

.pool-detail-row {
  margin: 6px 0;
  font-weight: 500;
}
