
<div *ngIf="stakeData" class="pool-list-item">

  <div class="flxr flxr--just-space-between flxr--align-center">

    <app-icon-ticker [iconPath]="stakeData.asset.iconPath" [ticker]="stakeData.asset.ticker"></app-icon-ticker>

    <button (click)="toggleExpanded()" style="color: white" mat-icon-button>
      <mat-icon>expand_more</mat-icon>
    </button>

  </div>

  <div [hidden]="!expanded" class="staked-data-details">
    <div *ngIf="pooledRune" class="flxr flxr--just-space-between pool-detail-row">
      <span>Pooled RUNE</span>
      <span>{{pooledRune | number:"0.0-6"}}</span>
    </div>
    <div *ngIf="pooledAsset" class="flxr flxr--just-space-between pool-detail-row">
      <span>Pooled {{stakeData.asset.ticker}}</span>
      <span>{{pooledAsset | number:"0.0-6"}}</span>
    </div>
    <div *ngIf="poolShare" class="flxr flxr--just-space-between pool-detail-row">
      <span>Pool Share</span>
      <span>{{poolShare | percent:"0.0-6"}}</span>
    </div>


    <div class="flxr flxr--just-space-between">
      <a mat-flat-button style="width: 50%; margin-right: 5px" color="primary" [routerLink]="['/', 'deposit', stakeData.asset.chain + '.' + stakeData.asset.symbol]">Deposit</a>
      <!-- <a mat-flat-button style="width: 50%; margin-left: 5px" color="primary" [routerLink]="['/', 'withdraw', stakeData.asset.chain + '.' +  stakeData.asset.symbol]">Withdraw</a> -->
    </div>
  </div>

</div>

