<div *ngIf="data">

  <div *ngIf="txState == 'PENDING_CONFIRMATION'">

    <div class="p-4 confirm-modal-head">
      <div class="flex justify-between items-center mb-4">
        <h1 mat-dialog-title>Confirm Withdrawal</h1>
        <div mat-dialog-actions>
          <button mat-icon-button aria-label="Close Dialog" (click)="closeDialog()" mat-dialog-close>
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>

      <div class="flex justify-between transaction-detail">

        <div class="flex items-center">
          <div class="asset-icon-container flex items-center mr-4">
            <img *ngIf="data.asset && data.asset.iconPath" [src]="data.asset.iconPath" appImgFallback />
            <mat-icon *ngIf="!data.asset || !data.asset.iconPath">help_outline</mat-icon>
          </div>
          <span class="text-xl mr-2">{{data.assetAmount}}</span>
        </div>

        <span>{{data.asset.ticker}}</span>
      </div>

      <div class="flex justify-center">
        <mat-icon class="to-btn-icon disabled text-sm">add</mat-icon>
      </div>

      <div class="flex justify-between transaction-detail mb-4">

        <div class="flex items-center">
          <div class="asset-icon-container flex items-center mr-4">
            <img *ngIf="data.rune && data.rune.iconPath" [src]="data.rune.iconPath" appImgFallback />
            <mat-icon *ngIf="!data.rune || !data.rune.iconPath">help_outline</mat-icon>
          </div>
          <span class="text-xl mr-2">{{data.runeAmount}}</span>
        </div>

        <span *ngIf="data.rune">{{data.rune.ticker}}</span>

      </div>

      <span class="italic text-gray-300 text-xs">Output is estimated.</span>

    </div>

    <div>
      <div mat-dialog-content class="confirm-modal-content float-left w-full">

        <div>

          <div class="flex justify-between mb-2">
            <div class="tx-detail-label flex items-end">
              Estimated Tx Time
              <mat-icon style="transform: scale(.6)" matTooltip="Estimated Confirmation Time is the time it will take for THORChain to process your transaction.">info</mat-icon>
            </div>
            <div class="flex items-end"><{{estimatedMinutes}} min</div>
          </div>

          <div class="flex justify-between mb-2">
            <span class="tx-detail-label">Rates</span>
            <span>1 {{data.rune.ticker}} = {{data.assetBasePrice | number:"1.2-4"}} {{data.asset.ticker}}</span>
          </div>

          <div class="flex justify-between mb-2">
            <span class="tx-detail-label"></span>
            <span>1 {{data.asset.ticker}} = {{data.runeBasePrice | number:"1.2-4"}} {{data.rune.ticker}}</span>
          </div>

          <div class="flex justify-between mb-2">
            <span class="tx-detail-label">RUNE Fee</span>
            <span>{{data.outboundTransactionFee}}</span>
          </div>

          <div class="flex justify-between mb-2">
            <span class="tx-detail-label">{{data.asset.ticker}} Fee</span>
            <!-- TODO: calculate this -->
            <span>{{data.asset.ticker}} Network Gas</span>
          </div>

        </div>

        <button (click)="submitTransaction()" mat-flat-button color="primary" class="main-action-btn w-full">Confirm Withdraw</button>

      </div>

    </div>

  </div>

  <app-transaction-ledger-confirm-modal *ngIf="txState == 'PENDING_LEDGER_CONFIRMATION'"></app-transaction-ledger-confirm-modal>

  <app-transaction-processing-modal
    *ngIf="txState == 'SUBMITTING'"
    transactionDetail="Withdrawing {{data.assetAmount}} {{data.asset.ticker}} + {{data.runeAmount}} {{data.rune.ticker}}"
    (closeDialog)="closeDialog()">
  </app-transaction-processing-modal>

  <app-transaction-success-modal
    *ngIf="txState === 'SUCCESS'"
    chain="THOR"
    [hash]="hash"
    (closeDialog)="closeDialog(true)">
  </app-transaction-success-modal>

  <div class="flex flex-col items-center p-8 text-sm" *ngIf="txState === 'ERROR'">
    <mat-icon>warning</mat-icon>
    <span *ngIf="error">{{error}}</span>
    <span *ngIf="!error">Something went wrong</span>
  </div>

</div>

