.unstake-percent {
  font-size: 64px;
  font-weight: 500;
  margin: 20px 0 10px;
}

.unstake-calc {
  float: left;
  width: 100%;
  font-size: 24px;
  font-weight: 500;

  &:first-of-type {
    margin-bottom: 10px;
  }
}
