<!-- <div style="padding: 1rem 1rem 0" class="section-head-container">
  <button (click)="back.emit()" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 class="flxr">
    <div class="asset-icon-container">
      <img *ngIf="iconPath" class="asset-icon" [src]="iconPath" />
    </div>
    {{chain}} Wallet
  </h1>
  <div style="width: 40px">
    <button mat-icon-button (click)="refreshBalances()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div> -->

<div class="content-middle">
  <div class="modal-head" style="margin-bottom: 20px;">
    <app-notice [tags]="['Copy', 'Explorer']">
      <span text >{{address}}</span>
      <div tag_one (click)="copyToClipboard(address)">
        <span>COPY</span>
      </div>
      <div tag_two>
        <a target="_blank" style="text-decoration: none; color: inherit;" [href]="explorerPath">Explore</a>
      </div>
    </app-notice>
  </div>

  <div class="expandable" mat-dialog-content>
    <app-assets-list
      [assetListItems]="assets"
      [loading]="loading"
      [disabledAssetSymbol]="''"
      [displayAddTokenButton]="chain === 'ETH'"
      (selectAsset)="selectAsset($event)"
      (addToken)="navigateToAddToken.emit()">
    </app-assets-list>
  </div>
</div>

<div class="bottom-actions" style="display: flex; margin-top: 30px;">
  <div style="width: 50%;">
    <div style="margin-right: 6px;">
      <button class="close-btn" (click)="back.emit()">
        <span>⭠ WALLET</span>
      </button>
    </div>
  </div>
  <div style="width: 50%;">
    <div style="margin-left: 6px;">
      <button class="next-btn" aria-label="Close Connect Wallet Dialog" (click)="refreshBalances()">
        <span>refresh</span>
      </button>
    </div>
  </div>
</div>
