<div style="padding: 1rem 1rem 0; margin-bottom: 0;" class="section-head-container">
  <button (click)="back.next()" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 class="flxr">
    View Wallet Phrase
  </h1>
  <div style="width: 40px"></div>
</div>

<div mat-dialog-content>

  <div style="padding: 1rem">

    <div *ngIf="!passwordAccepted">
      <div class="uni-input">
        <label>Password</label>
        <input [(ngModel)]="keystorePassword" name="keystore-password" placeholder="Please Enter Password" type="password" />
      </div>

      <div class="flxr flxr--just-space-between flxr--align-center" style="height: 38px">
        <div>
          <span *ngIf="keystoreError" style="font-size: 0.8rem; color: #2172e5">Keystore Login Incorrect</span>
        </div>
        <div>
          <button mat-flat-button color="accent" (click)="unlock()" [disabled]="keystoreConnecting">
            <span>Unlock</span>
          </button>
          <mat-progress-spinner mode="indeterminate" diameter="30" *ngIf="keystoreConnecting"></mat-progress-spinner>

        </div>
      </div>
    </div>

    <div *ngIf="passwordAccepted">
      {{phrase}}
    </div>

  </div>

</div>
