<div class="background-container"></div>
<div class="noise-background"></div>

<app-header></app-header>

<main *ngIf="isTestnet">
  <app-native-rune-prompt></app-native-rune-prompt>
  
  <div class="main-notification mb-8 cursor-pointer min-h-0 container" *ngIf="chainBalanceErrors && chainBalanceErrors.length > 0">
    <div class="flex items-center">
      <mat-icon class="mr-4">warning</mat-icon>
      <small>
        There has been an error fetching some of your balances.
        Your funds are safe, you can check them on the respective explorer in the User Settings area.
        Please try again later.
      </small>
    </div>
  </div>
  
  <router-outlet></router-outlet>
</main>

<main *ngIf="!isTestnet">
  <div>
    Multichain Coming Soon.
  </div>
</main>

<footer>
  <div class="footer-social flex justify-end">
    <a class="footer-logo footer-logo--telegram" href="https://t.me/asgard_exchange" target="_blank"></a>
    <a class="footer-logo footer-logo--twitter" href="https://twitter.com/asgardex" target="_blank"></a>
    <a class="footer-logo footer-logo--github" href="https://github.com/asgardex/asgard-exchange" target="_blank"></a>
  </div>
  <div class="footer-content">
    <span>This product is in beta. Do not deposit or swap large amounts of funds.</span>
    <div class="flex thorchain-indicator">
      <span class="mr-1">Powered by <a target="_blank" href="https://thorchain.org/">THORChain</a> </span>
      <app-last-block-indicator></app-last-block-indicator>
    </div>
  </div>
</footer>



