
$w: 100vw;
$h: 100vh;
$f: $h/$w;
$n: 7;
$g: 1em;
$c0: #2c2f36;
$c1: #151f1e;

@function int_ch($ch0, $ch1) {
	@return calc(
		var(--i)*#{$ch1} + var(--noti)*#{$ch0})
}

@function int_col($c0, $c1) {
	$ch: 'red' 'green' 'blue';
	$n: length($ch);
	$args: ();

	@each $fn in $ch {
		$args: $args, int_ch(call($fn, $c0), call($fn, $c1))
	}

	@return RGB(#{$args})
}

main {
  position: relative;
}

.background-container {
  position: fixed;

  overflow: hidden;
	// position: relative;
	width: var(--w, #{$w});
	height: var(--h, #{$h});
	// border-radius: .5em;
	box-shadow: 2px 2px 17px #000;
  background: linear-gradient(var(--ang, 180deg), $c0, $c1);

  filter: blur(0px);
  -webkit-filter: blur(0px);

	&, &:before, &:after {
		--strip-stop: 100%;
		--strip-f: .25;
		--strip-stop-0: calc(var(--strip-f)*var(--strip-stop));
		--strip-stop-1: calc(var(--strip-stop) - var(--strip-stop-0));
		--strip-end: green;
		--strip-mid: transparent;
		--strip-list:
			var(--strip-end) 0,
			var(--strip-end) var(--strip-stop-0),
			var(--strip-mid) 0,
			var(--strip-mid) var(--strip-stop-1),
			var(--strip-end) 0,
			var(--strip-end) var(--strip-stop);
		--joint-list:
			var(--joint-end, green) var(--joint-stop, 25%),
			var(--joint-mid, transparent) 0;
		--joint-0:
			linear-gradient(135deg, var(--joint-list));
		--joint-1:
			linear-gradient(-135deg, var(--joint-list));
		--joint-2:
			linear-gradient(-45deg, var(--joint-list));
		--joint-3:
			linear-gradient(45deg, var(--joint-list));
	}

	&:before, &:after {
		--i: 0;
		--noti: calc(1 - var(--i));
		--sgni: calc(2*var(--i) - 1);
		--c: hsl(0, 0%, 0%, var(--i));
		--notc: hsl(0, 0%, 0%, var(--noti));
		--fill: linear-gradient(var(--c), var(--c));
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		--c0: #{int_col($c0, $c1)};
		--c1: #{int_col($c1, $c0)};
		-webkit-mask: var(--mask);
						mask: var(--mask);
		-webkit-mask-position: var(--mask-o, 50% 50%);
						mask-position: var(--mask-o, 50% 50%);
		-webkit-mask-size: var(--mask-d);
						mask-size: var(--mask-d);
		content: ''
	}

	&:after { --i: 1 }

	// --ang: 45deg;

	// &:before, &:after {
	// 	--strip-end: transparent;
	// 	--strip-mid: var(--c0);
	// 	--strip-stop: 10px;
	// 	--strip-f: .4;
	// 	background:
	// 		repeating-linear-gradient(var(--strip-list)),
	// 		repeating-linear-gradient(60deg, var(--strip-list)),
	// 		repeating-linear-gradient(-60deg, var(--strip-list));
	// 	--mask:
	// 		conic-gradient(from calc((var(--i) - .75)*180deg),
	// 				transparent, red, transparent 50%)
  // }




	// --d: 4em;

	// &:before, &:after {
	// 	--o: calc(50% - .5*var(--d));
	// 	--strip-stop: calc(2*var(--d)/14.1);
	// 	--strip-end: var(--c0);
	// 	background:
	// 		repeating-linear-gradient(calc(var(--sgni)*45deg),
	// 			var(--strip-list));
	// 	--mask:
	// 		var(--fill),
	// 		var(--joint-3), var(--joint-3),
	// 		var(--joint-0), var(--joint-0);
	// 	--mask-o: 50%, var(--o) var(--o);
	// 	--mask-d: var(--d) var(--d);
	// 	-webkit-mask-composite: xor;
	// 					mask-composite: exclude
	// }



  // --d: 1em;
	// --ang: 45deg;

	// &:before, &:after {
	// 	--o1: calc(50% + var(--sgni)*.25*var(--d));
	// 	--o0: calc(50% - var(--sgni)*.25*var(--d));
	// 	background:
	// 		radial-gradient(circle, var(--c0) 35%, transparent 37%)
	// 				var(--o0) var(--o0),
	// 		radial-gradient(circle, var(--c1) 19%, transparent 21%)
	// 				var(--o1) var(--o1);
	// 	background-size: var(--d) var(--d);
	// 	--strip-stop: calc(4*var(--d));
	// 	--o: calc(var(--i)*var(--d));
	// 	--mask:
	// 		repeating-linear-gradient(var(--strip-list)),
	// 		repeating-linear-gradient(90deg, var(--strip-list));
	// 	--mask-o: 0 var(--o), var(--o);
	// 	-webkit-mask-composite: xor;
	// 					mask-composite: exclude
	// }




	// --d: 2em;
	// background: conic-gradient($c0, $c1, $c0);

	// &:before, &:after {
	// 	background:
	// 		linear-gradient(calc(var(--i)*180deg),
	// 			var(--c0), var(--c1), var(--c0));
	// 	--mask:
	// 		linear-gradient(90deg, var(--joint-list));
	// 	--mask-o: calc(50% + (var(--i) - .25)*.5*var(--d));
	// 	--mask-d: var(--d)
  // }




  --d: 8em;
	--ang: 45deg;

	&:before, &:after {
		background: var(--c0);
		--strip-end: var(--c);
		--strip-mid: var(--notc);
		--strip-stop: var(--d);
		--mask:
			linear-gradient(90deg, red, transparent),
			radial-gradient(circle at 25% 25%, red 9%, transparent 35%),
			repeating-linear-gradient(90deg, var(--strip-list)),
			repeating-linear-gradient(-45deg, var(--strip-list));
		--mask-o: calc(50% - .25*var(--d)) 50%, 50% 50%, 50% 50%, 50% 50%;
		--mask-d: calc(.5*var(--d)), 8px 8px, 100%, 100%;
		-webkit-mask-composite: source-in, source-in, source-in, source-over;
						mask-composite: intersect
	}






	// --d: 4em;

	// &:before, &:after {
	// 	--strip-end: var(--c0);
	// 	background:
	// 		linear-gradient(calc(var(--sgni)*45deg),
	// 			var(--strip-list)) 50%/ calc(.25*var(--d)) calc(.25*var(--d));
	// 	--mask:
	// 		linear-gradient(calc(-90deg - var(--sgni)*45deg),
	// 				var(--joint-list)),
	// 		linear-gradient(calc(90deg - var(--sgni)*45deg),
	// 				var(--joint-list));
	// 	--mask-o: 50%, 50% calc(50% - .5*var(--d));
	// 	--mask-d: var(--d) var(--d);
	// }

}

.noise-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-repeat: repeat;
  // background-color: slategray;
  background-image: url('/assets/noisy-texture-transparent.png');
}
