<div class="background-container"></div>
<div class="noise-background"></div>

<app-header></app-header>

<main *ngIf="isTestnet">
  <router-outlet></router-outlet>
</main>

<main *ngIf="!isTestnet">
  <div>
    Multichain Coming Soon.
  </div>
</main>

<footer>
  <div class="footer-social flxr flxr--just-end">
    <a class="footer-logo footer-logo--discord" href="https://discord.gg/uNvu8sxEsY" target="_blank"></a>
    <a class="footer-logo footer-logo--twitter" href="https://twitter.com/asgardex" target="_blank"></a>
    <a class="footer-logo footer-logo--github" href="https://github.com/asgardex/asgard-exchange" target="_blank"></a>
  </div>
  <div class="footer-content">
    <span>This product is in beta. Do not deposit or swap large amounts of funds.</span>
    <div class="flxr thorchain-indicator">
      <span style="margin-right: 6px">Powered by <a target="_blank" href="https://thorchain.org/">THORChain</a> </span>
      <app-last-block-indicator></app-last-block-indicator>
    </div>
  </div>
</footer>



