
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);

  .container {
    background: rgb(33, 36, 41);
    padding: 1rem;
    max-width: 420px;
    min-height: 400px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 4px 8px, rgba(0, 0, 0, 0.04) 0px 16px 24px, rgba(0, 0, 0, 0.01) 0px 24px 32px;
    border-radius: 30px;
    margin-top: -75px;
  }

  nav {
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 3rem;
    justify-content: space-evenly;
    margin-bottom: 20px;

    a {
      display: flex;
      flex-flow: row nowrap;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      height: 3rem;
      border-radius: 3rem;
      outline: none;
      cursor: pointer;
      text-decoration: none;
      color: rgb(136, 141, 155);
      font-size: 20px;

      &.active {
        border-radius: 12px;
        font-weight: 500;
        color: white;
      }
    }
  }
}
