<div class="background-container">
  <app-header [(overlay)]="showUserSetting"></app-header>
  
  <main *ngIf="isTestnet && !showReconnect && !showUserSetting">
    <router-outlet></router-outlet>
  </main>

  <main *ngIf="!isTestnet">
    <div>
      Multichain Coming Soon.
    </div>
  </main>

  <main *ngIf="showUserSetting">
    <app-user-settings-dialog [(userSetting)]="showUserSetting"></app-user-settings-dialog>
  </main>

  <main *ngIf="showReconnect">
    <app-reconnect-dialog [(reconnect)]="showReconnect" [keystore]="keystore"></app-reconnect-dialog>
  </main>
  
  <footer>
    
    <div class="footer-content">
      <span>Powered by THORChain. Everyone can participate, no one can manipulate. Support the initiative by tipping our THOR address: thor93fs8afye893jaljfw73hk6thgkbfh62hs</span>
    </div>
  </footer>
</div>




