<!-- <div class="container" style="position: absolute; top: -2px; left: -2px;"> -->

<!-- <div style="padding: 1rem 1rem 0" class="section-head-container">

    <h1>Transactions</h1>
    <div style="width: 40px"></div>
  </div> -->
<div class="container-wrapper">
  <div class="container">
    <div class="main-container">
      <div class="content-top">
        <app-breadcrumb [path]="[{name: 'asgardex', swapView: 'Swap', mainView: 'Swap'}, {name: 'transactions', disable: true}]" message="select"></app-breadcrumb>
        <div class="top-right">
        </div>
      </div>
      <div class="wallets" *ngIf="txs && txs.length > 0">

        <div class="w-address" *ngFor="let tx of txs">
          <div class="icon-addr">
            <div class="asset-icon-container">
              <img class="asset-icon"
                src="https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/binance/assets/RUNE-B1A/logo.png" />
            </div>
            <label style="text-transform: uppercase;">{{tx.action}} <span style="color: #414856;">({{tx.chain}}.{{tx.ticker}} <span *ngIf="tx.status === 'PENDING'">- PENDING</span>)</span></label>
          </div>
          <div class="addr">
            <input [value]="tx.hash.substring(0, 6) + '...' + tx.hash.substring(tx.hash.length - 6, tx.hash.length)" name="thor-address" [disabled]="true" />
          </div>
        </div>

      </div>

      <div class="wallets disable" *ngIf="txs.length == 0">
        <span class="no-item" style="text-transform: uppercase;"><span class="mono">0</span> Transactions</span>
      </div>

      <div class="bottom-actions">
        <button class="close-btn" (click)="close()">
          <span>close</span>
        </button>
      </div>

    </div>
  </div>
</div>

<!-- <div class="transactions">


  <ul *ngIf="txs && txs.length > 0" style="width: 100%;">
    <li *ngFor="let tx of txs" class="transaction">

      <a [href]="explorerPath(tx)" target="_blank"
        class="uni-input">

        <label style="width: 100%" class="flxr flxr--just-space-between">
          <span>{{tx.ticker}}</span>
          <span>{{tx.action}}</span>
        </label>

        <div class="flxr" style="width: 100%">

                <input [value]="tx.hash.substring(0, 4) + '...' + tx.hash.substring(tx.hash.length - 4, tx.hash.length)" name="thor-address" [disabled]="true" />

          <button matSuffix mat-icon-button>
            <mat-icon *ngIf="tx.status === 'COMPLETE'">check_circle</mat-icon>
            <mat-progress-spinner *ngIf="tx.status === 'PENDING'" diameter="16" color="primary" mode="indeterminate">
            </mat-progress-spinner>
          </button>

        </div>

        <span *ngIf="tx.action === 'Refund'" style="font-size: 0.6rem; font-style: italic">*Something went wrong
          submitting your transaction on the network. Your transaction has been refunded.</span>

      </a>

    </li>
  </ul>

  <div *ngIf="!txs || (txs && txs.length < 1)" style="display: flex; justify-content: center; align-items: center;">
    <span>No transactions found</span>
  </div>

</div> -->


<!-- close dialog -->
<!-- <div class="bottom-actios">
      <div style="width: 50%;">
        <button class="close-btn" (click)="back.emit()">
          <span>back</span>
        </button>
      </div>
    </div> -->

<!-- <div mat-dialog-actions class="dialog-actions">
      <button mat-icon-button aria-label="Close Connect Wallet Dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div> -->


<!-- </div> -->
