.w-address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
  height: 49px;

  .icon-addr label {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
  }

  .asset-icon-container {
    display: flex;
    align-content: center;
    margin-right: 8px;
  }

  .addr {
    width: 300px;
    margin-left: 45px;

    input {
      text-align: right;
      width: 100%;
      background-color: transparent;
      border: none;
      color: #414856;
      font-weight: 700;
      font-size: 22px;
      line-height: 30px;
      text-overflow: ellipsis;
    }
  }

  .icon-addr {
    display: flex;
    align-items: center;
  }

  &:hover {
    background: #28F4AF;

    label, input {
      color: #000 !important;
    }
  }
}
