<div *ngIf="assetPoolData" class="container">

  <div class="section-head-container">
    <a [routerLink]="['/', 'pool']" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </a>
    <h1>Add Liquidity</h1>
    <div style="width: 40px"></div>
  </div>

  <div style="position: relative;">

    <app-asset-input
      label="Input"
      [(selectedAsset)]="asset"
      [(assetUnit)]="assetAmount"
      [balance]="assetBalance"
      [disabledAssetSymbol]="rune.symbol"
      [selectableMarkets]="selectableMarkets">
    </app-asset-input>

    <div class="flxr flxr--align-center flxr--just-center">
      <mat-icon [class.disabled]="true" class="to-btn-icon">add</mat-icon>
    </div>

    <app-asset-input
      label="Input"
      [(selectedAsset)]="rune"
      [(assetUnit)]="runeAmount"
      [balance]="runeBalance"
      [hideMax]="true"
      [disableInput]="true"
      [disabledAssetSymbol]="rune.symbol"
      [disabledMarketSelect]="true">
    </app-asset-input>

    <div class="flxr">
      <app-approve-eth-contract
        *ngIf="ethContractApprovalRequired"
        style="width: 50%; margin-right: 8px;"
        [contractAddress]="ethRouter"
        [asset]="asset"
        (approved)="contractApproved()">
      </app-approve-eth-contract>

      <button
        (click)="openConfirmationDialog()"
        class="main-action-btn"
        [ngStyle]="{'width': ethContractApprovalRequired ? '50%' : '100%'}"
        mat-flat-button
        color="primary"
        [disabled]="formDisabled()"
      >
        {{mainButtonText()}}
      </button>

    </div>

    <div class="tag">
      <div class="tag-contents">
        <div class="flxr flxr--just-space-between" style="margin-bottom: 6px;">
          <span class="tx-detail-label">Total Fee</span>
          <span>1 RUNE + {{asset.ticker}} Network Gas</span>
        </div>
      </div>
    </div>

  </div>

</div>

