<div class="container">
  <app-modal-section-header
    sectionTitle="XDEFI Connect"
    [displayBackBtn]="true"
  ></app-modal-section-header>

  <div class="dialog-content">
    <div mat-dialog-content>
      <!-- <button
        class="uni-input uni-input--file focus:outline-none"
        (click)="xdefiInput.click()"
      >
        <span>Connect XDEFI</span>
        <mat-icon *ngIf="!xdefiFileSelected">vpn_key</mat-icon>
        <mat-icon *ngIf="xdefiFileSelected" [ngStyle]="{ color: 'green' }"
          >check</mat-icon
        >
      </button> -->

      <!-- <div class="uni-input">
        <label>Password</label>
        <input
          class="focus:outline-none focus:ring-0"
          [(ngModel)]="xdefiPassword"
          name="xdefi-password"
          placeholder="Please Enter Password"
          type="password"
          (keyup.enter)="initUnlock()"
        />
      </div> -->

      <small
        >You need to enable all dApps Injection Providers in
        <b>Settings > dApps Settings</b>.</small
      >
      <br />
    </div>

    <div class="flex justify-between items-center" style="height: 38px">
      <div>
        <span *ngIf="xdefiError" style="font-size: 0.8rem; color: #2172e5"
          >XDEFI Login Incorrect</span
        >
      </div>
      <div>
        <button
          *ngIf="!xdefiConnecting"
          mat-flat-button
          color="accent"
          (click)="initUnlock()"
          [disabled]="xdefiConnecting"
        >
          <span>Connect</span>
        </button>
        <mat-progress-spinner
          mode="indeterminate"
          diameter="30"
          *ngIf="xdefiConnecting"
        ></mat-progress-spinner>
      </div>
    </div>
  </div>
</div>
