.swap-input {
  flex-flow: row;
  min-height: 112px;
  border: 2px solid #0d1b23;
  background-color: transparent;
  height: 113px;

  &--inner {
    height: 100%;
    width: 100%;
  }

  .label-wrapper {
    position: relative;
  }

  input {
    font-size: 22px;
    font-weight: 500;
    font-family: "Roboto Mono";
    color: var(--primary-default);
    width: 179px;
    line-height: 30px;
  }

  .expand-more {
    font-size: 30px;
    height: 28px;
    color: var(--primary-default);
  }

  &.disable {
    border-color: #474e5d;

    .launch-markets-btn,
    .label-title,
    .expand-more,
    .usd-est {
      color: #474e5d;
    }
  }
}

.label-title {
  color: #fff;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
}

.priceInput {
  &::placeholder {
    color: var(--primary-default);
  }

  &.disable {
    color: #474e5d;

    &::placeholder {
      color: #474e5d;
    }
  }
}

.select-token {
  font-size: 22px;
  line-height: 30px;
}

// .swap-input:focus-within{
//   border: 1px solid white;
//   transition: border-color 100ms;
// }

.asset-selector {
  padding: 3px 5px;
  border-radius: 4px;

  &:hover {
    background: #2c2f36;
  }
}

.launch-markets-btn {
  padding: 0;
  color: white;
  background-color: transparent;

  &:disabled {
    cursor: inherit;
  }
}

// .usd-est {
//   position: absolute;
//   font-family: 'Roboto Mono';
//   font-weight: 500;
//   line-height: 24px;
//   font-size: 10px;
//   left: 0px;
//   bottom: -10px;
//   color: #fff;
// }

.max {
  // background-color: rgba(21, 61, 111, 0.44) !important;
  color: #fff;
  padding: 4px 8px;
  border-radius: 3px;
  border: 1px solid #30f091;

  &:hover {
    color: #30f091;
  }
}
