<div class="swap-input uni-input">

  <div>
    <div class="flxr flxr--just-space-between">
      <label for="{{label}}Input">{{label}}</label>
      <label *ngIf="selectedAsset && balance">Balance: {{balance | number:"1.0-8"}}</label>
    </div>

    <div class="flxr flxr--just-space-between flxr--align-center">
      <input
        style="font-size: 1.4rem"
        [ngModel]="assetUnit"
        (ngModelChange)="updateAssetUnits($event)"
        id="{{label}}Input"
        name="fromUnit"
        placeholder="0.0"
        type="number"
        [disabled]="disableInput" />

      <button *ngIf="!selectedAsset" color="primary" style="min-width: 160px;" mat-flat-button (click)="launchMarketsModal()">
        Select a token
        <mat-icon>expand_more</mat-icon>
      </button>

      <button (click)="setMax()" *ngIf="balance && balance > 0 && balance != assetUnit && !hideMax" class="max">
        MAX
      </button>

      <button *ngIf="selectedAsset" class="launch-markets-btn" (click)="launchMarketsModal()">
        <div class="flxr flxr--align-center">

          <!--TODO: this is used in pool list item, should be refactored -->
          <div style="margin-right: 8px;" class="asset-icon-container flxr flxr--align-center">
            <img *ngIf="selectedAsset.iconPath" [src]="selectedAsset.iconPath" />
            <mat-icon *ngIf="!selectedAsset.iconPath">help_outline</mat-icon>
          </div>
          <span style="font-size: 20px">{{selectedAsset.ticker}}</span>
          <!-- end -->

          <mat-icon>expand_more</mat-icon>
        </div>
      </button>

    </div>
  </div>

</div>
