<div class="swap-input uni-input">

  <div style="width: 100%;">
    <div class="flxr flxr--just-space-between">
      <label for="{{label}}Input">{{label}}</label>
      <label *ngIf="selectedAsset && balance">Balance: {{balance | number:"1.0-8"}}</label>
    </div>

    <div class="flxr flxr--just-space-between flxr--align-center">
      <input
        style="font-size: 1.4rem"
        [ngModel]="assetUnit"
        (ngModelChange)="updateAssetUnits($event)"
        id="{{label}}Input"
        name="fromUnit"
        placeholder="0.0"
        type="number"
        [disabled]="disableInput" />

      <button *ngIf="!selectedAsset" color="primary" style="min-width: 160px;" mat-flat-button (click)="launchMarketsModal()">
        Select a token
        <mat-icon>expand_more</mat-icon>
      </button>

      <button (click)="setMax()" *ngIf="balance && balance > 0 && balance != assetUnit && !hideMax" class="max">
        MAX
      </button>

      <button *ngIf="selectedAsset" class="launch-markets-btn" (click)="launchMarketsModal()" [disabled]="disabledMarketSelect">


        <div class="flxr flxr--align-center asset-selector">
          <app-icon-ticker [iconPath]="selectedAsset.iconPath" [ticker]="selectedAsset.ticker"></app-icon-ticker>
          <mat-icon *ngIf="!disabledMarketSelect">expand_more</mat-icon>
        </div>
      </button>

    </div>
  </div>

</div>
