.market-list-container {
  position: relative;
  height: 325px;
  width: 100%;
  overflow: auto;
  will-change: transform;
  direction: ltr;
  // border-top: 1px solid rgb(44, 47, 54);
  background-color: #0D1B23;
  padding: 10px;
  border-radius: 6px;
}

.market-list-item {
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 0 20px;
  height: 49px;
  cursor: pointer;

  &:hover {
    color: #0D1B23;
    background-color: #28F4AF;

    &__label {
      color: #0D1B23;
    }

    &__chain {
      color: #0D1B23;
    }
  }

  &.disabled {
    color: #565a69;
    background-color: transparent;
    cursor: inherit;
  }

  &__symbol {
    font-size: 22px;
    font-weight: 500;
  }

  &__chain {
    font-size: 22px;
    color:#414856;
  }

  &__label {
    font-size: 0.6rem;
    color: #414856;
  }
  &__balance {
    text-align: right;
    font-family: 'Roboto Mono';
    color: #414856;
    font-size: 22px;
    font-weight: 700;
  }
}

.heading-container {
  padding: 0 1rem 1rem 1rem;
}

.heading-balance__label{
  display: inline-block;
  height: 100%;
  margin-right: 0.5rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: lighten(#536960, 20%);
}

.asset-icon-container {
  margin-right: 8px !important;
}

.list-title {
  font-size: 14px;
  font-weight: 500;
}
