<div class="heading-container flxr flxr--just-space-between flxr--align-end" >
  <div class="list-title">
    Token Name
  </div>
  <span class="heading-balance__label">Balance</span>
</div>

<div style="font-size: 0.7rem; color: #849e93; padding: 0 1rem .5rem">Upgrade to THOR.RUNE to access THORChain pools and more</div>

<div class="market-list-container">

  <div *ngIf="loading" class="flxr flxr--align-center flxr--just-center" style="height: 100%; width: 100%">
    <mat-progress-spinner diameter="16" color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>

  <ul *ngIf="!loading && assetListItems" class="market-list">

    <li class="market-list-item" *ngFor="let item of assetListItems" (click)="selectAsset.emit(item.asset)" [class.disabled]="item.asset.symbol == disabledAssetSymbol">

      <div class="asset-icon-container">
        <img *ngIf="item.asset.iconPath" class="asset-icon" [src]="item.asset.iconPath" />
        <mat-icon *ngIf="!item.asset.iconPath">help_outline</mat-icon>
      </div>

      <div class="flxr flxr--just-space-between flxr--align-start" style="width:100%;">
        <div class="flxr flxr--flow-col">
          <span class="market-list-item__symbol">{{item.asset.ticker}}</span>
          <span class="market-list-item__chain">{{item.asset.chain}}</span>
        </div>
        <div *ngIf="item.balance" class="flxr flxr--flow-col flxr--just-end" style="text-align: right;">
          <span class="market-list-item__balance">{{item.balance.amount().toNumber()}}</span>
        </div>
      </div>
    </li>
    <li *ngIf="displayAddTokenButton" class="flxr flxr--just-center flxr--align-center" style="padding: 1rem 0;">
      <button mat-flat-button color="accent" (click)="addToken.emit()">Add Token</button>
    </li>
  </ul>

</div>
