<div *ngIf="mode === 'SELECT_ASSET'">

  <app-modal-section-header sectionTitle="Non-native RUNE Assets" [displayCloseBtn]="true" (close)="dialogRef.close()"></app-modal-section-header>

  <div mat-dialog-content>
    <app-assets-list [assetListItems]="assets" [loading]="loading" [disabledAssetSymbol]="''" (selectAsset)="selectAsset($event)"></app-assets-list>
  </div>

</div>

<app-upgrade-rune
  *ngIf="mode === 'UPGRADE_ASSET'"
  [asset]="selectedAsset"
  (confirmUpgrade)="confirmUpgradeRune($event)"
  (back)="mode = 'SELECT_ASSET'">
</app-upgrade-rune>

<app-upgrade-rune-confirm
  *ngIf="mode === 'CONFIRM'"
  [asset]="selectedAsset"
  [amount]="amountToSend"
  (back)="mode = 'UPGRADE_ASSET'"
  (transactionSuccessful)="transactionSuccessful($event)">
</app-upgrade-rune-confirm>

<app-transaction-success-modal
  *ngIf="mode === 'SUCCESS'"
  [externalTx]="true"
  [chain]="selectedAsset.asset.chain"
  [hash]="successfulTxHash"
  (closeDialog)="dialogRef.close()">
</app-transaction-success-modal>
