<div class="container-wrapper" *ngIf="mode === 'SELECT_ASSET'">
  <div class="container">
    <div class="main-container">
      <div class="content-top">
        <app-breadcrumb [path]="[{name: 'asgardex', swapView: 'Swap', mainView: 'Swap'}, {name: 'Upgrade Rune', disable: true}]" message="Prepare"></app-breadcrumb>
        <div class="top-right">
        </div>
      </div>

      <div mat-dialog-content>
        <app-assets-list [assetListItems]="assets" [loading]="loading" [disabledAssetSymbol]="''" (selectAsset)="selectAsset($event)"></app-assets-list>
      </div>
    </div>

    <!-- close dialog -->
    <div class="bottom-actions">
      <button class="next-btn" aria-label="Upgrade to Thorchain RUNE" (click)="close()">
        <span>upgrade</span>
      </button>
    </div>
  </div>
</div>

<app-upgrade-rune
  *ngIf="mode === 'UPGRADE_ASSET'"
  [asset]="selectedAsset"
  (confirmUpgrade)="confirmUpgradeRune($event)"
  (back)="mode = 'SELECT_ASSET'">
</app-upgrade-rune>

<app-upgrade-rune-confirm
  *ngIf="mode === 'CONFIRM'"
  [asset]="selectedAsset"
  [amount]="amountToSend"
  (back)="mode = 'UPGRADE_ASSET'"
  (transactionSuccessful)="transactionSuccessful($event)">
</app-upgrade-rune-confirm>

<app-transaction-success-modal
  *ngIf="mode === 'SUCCESS'"
  [externalTx]="true"
  [chain]="selectedAsset.asset.chain"
  [hash]="successfulTxHash"
  (closeDialog)="close()">
</app-transaction-success-modal>
