<div *ngIf="mode === 'SELECT_ASSET'">
  <div class="section-head-container pt-4 px-4">
    <h1 class="flex">
      Non-native RUNE Assets
    </h1>
  </div>

  <div mat-dialog-content>
    <app-assets-list [assetListItems]="assets" [loading]="loading" [disabledAssetSymbol]="''" (selectAsset)="selectAsset($event)"></app-assets-list>
  </div>

  <!-- close dialog -->
  <div mat-dialog-actions class="dialog-actions">
    <button mat-icon-button aria-label="Close Markets Dialog" (click)="dialogRef.close()" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<app-upgrade-rune
  *ngIf="mode === 'UPGRADE_ASSET'"
  [asset]="selectedAsset"
  (confirmUpgrade)="confirmUpgradeRune($event)"
  (back)="mode = 'SELECT_ASSET'">
</app-upgrade-rune>

<app-upgrade-rune-confirm
  *ngIf="mode === 'CONFIRM'"
  [asset]="selectedAsset"
  [amount]="amountToSend"
  (back)="mode = 'UPGRADE_ASSET'"
  (transactionSuccessful)="transactionSuccessful($event)">
</app-upgrade-rune-confirm>

<app-transaction-success-modal
  *ngIf="mode === 'SUCCESS'"
  [externalTx]="true"
  [chain]="selectedAsset.asset.chain"
  [hash]="successfulTxHash"
  (closeDialog)="dialogRef.close()">
</app-transaction-success-modal>
