<div class="right-option">
  <div *ngIf="whichType == 'SWITCH'">
    <a class="left" [routerLink]="['/', 'swap']" [ngClass]="left.classList.contains('active') ? '' : 'inactive'" routerLinkActive="active" #left>
      <p class="left-inner">
        <span *ngIf="left.classList.contains('disable')" class="tag">tag</span>
        text
      </p>
    </a>
    <a class="right disable" [routerLink]="['/', 'pool']" [ngClass]="right.classList.contains('active') ? '' : 'inactive'" routerLinkActive="active" #right>
      <p class="right-inner">
        <span *ngIf="right.classList.contains('disable')" class="tag">tag</span>
        text
      </p>
    </a>
  </div>
  <div *ngIf="whichType == 'FIELD'">
    <input type="text" placeholder="SERACH HERE ...">
  </div>
</div>
