<div class="container">
  <nav>
    <a [routerLink]="['/', 'swap']" routerLinkActive="active">Swap</a>
    <a [routerLink]="['/', 'pool']" routerLinkActive="active">Pool</a>
  </nav>

  <div class="relative">

    <!-- SOURCE -->
    <app-asset-input
      label="Send"
      [(selectedAsset)]="selectedSourceAsset"
      [(assetUnit)]="sourceAssetUnit"
      [balance]="sourceBalance"
      [disabledAssetSymbol]="selectedTargetAsset ? selectedTargetAsset.symbol : null"
      [selectableMarkets]="selectableMarkets">
    </app-asset-input>

    <div class="flex justify-between items-center float-right">
      <button class="reverse-transaction" (click)="reverseTransaction()" [disabled]="!selectedSourceAsset || !selectedTargetAsset">
        <mat-icon [class.disabled]="!selectedSourceAsset || !selectedTargetAsset" class="to-btn-icon text-xl">swap_vert</mat-icon>
      </button>
    </div>

    <!-- TARGET -->
    <app-asset-input
      [label]="selectedTargetAsset ? 'Receive (est)' : 'Receive'"
      [(selectedAsset)]="selectedTargetAsset"
      [(assetUnit)]="targetAssetUnitDisplay"
      [balance]="targetBalance"
      [disableInput]="true"
      [disabledAssetSymbol]="selectedSourceAsset ? selectedSourceAsset.symbol : null"
      [loading]="calculatingTargetAsset"
      [hideMax]="true"
      [error]="poolDetailTargetError || poolDetailSourceError"
      [selectableMarkets]="selectableMarkets">
    </app-asset-input>

    <div>
      <div class="flex justify-between swap-details">
        <span>Price:</span>
        <span *ngIf="basePrice && selectedSourceAsset && selectedTargetAsset">{{basePrice | number:"1.2-6"}} {{selectedSourceAsset.ticker}} per {{selectedTargetAsset.ticker}}</span>
        <span *ngIf="!basePrice">-</span>
      </div>

      <div class="flex justify-between swap-details">
        <span class="tx-detail-label">Slip</span>
        <span *ngIf="slip">{{slip | percent:"0.2-4" }}</span>
        <span *ngIf="!slip">-</span>
      </div>

      <div class="flex justify-between swap-details">
        <span class="tx-detail-label"></span>
        <span *ngIf="outboundTransactionFee">{{outboundTransactionFee}} RUNE THORChain Network Fee</span>
        <span *ngIf="!outboundTransactionFee">...</span>
      </div>

      <div *ngIf="!isNativeRune(selectedTargetAsset)" class="flex justify-between swap-details">
        <span class="tx-detail-label"></span>
        <span *ngIf="outputNetworkFee">{{selectedTargetAsset.ticker}} {{outputNetworkFee | number:"1.0-8"}} Network Fee</span>
        <span *ngIf="!outputNetworkFee">...</span>
      </div>

    </div>

    <div class="flex">
      <app-approve-eth-contract
        *ngIf="ethContractApprovalRequired && ethInboundAddress && selectedSourceAsset"
        class="w-1/2 mr-2"
        [contractAddress]="ethInboundAddress.router"
        [asset]="selectedSourceAsset"
        (approved)="contractApproved()">
      </app-approve-eth-contract>
      <button
        (click)="openConfirmationDialog()"
        class="main-action-btn"
        mat-flat-button
        color="primary"
        [disabled]="formInvalid()"
        [ngClass]="ethContractApprovalRequired ? 'w-1/2' : 'w-full'"
      >
        {{mainButtonText()}}
      </button>
    </div>

    <!-- <div class="tag" *ngIf="basePrice && selectedTargetAsset && selectedSourceAsset">
      <div class="tag-contents">
        <div class="flex justify-between" style="margin-bottom: 6px;">
          <span class="tx-detail-label">Total Fee</span>
          <span>{{binanceTransferFeeDisplay | number:"0.0-6"}} BNB</span>
        </div>
        <div class="flex justify-between" style="margin-bottom: 6px;">
          <span class="tx-detail-label"></span>
          <span>{{runeTransactionFee}} Rune</span>
        </div>
        <div class="flex justify-between">
          <span class="tx-detail-label">Slip</span>
          <span>{{slip | percent:"0.2-4" }}</span>
        </div>
      </div>
    </div> -->

  </div>

</div>




