.swap-from {
  flex-flow: row;
  height: 90px;
}

.asset-balance {
  height: 100%;
}

.launch-markets-btn {
  display: flex;
  min-width: 135px;
  padding: 0px 0.5rem;
}

.base-price {
  padding: 6px 1rem 0;
  font-weight: 500;
  font-size: 14px;
  color: rgb(195, 197, 203);
}

.tag {
  position: absolute;
  width: 100%;
  bottom: -105px;
  font-size: 14px;

  .tag-contents {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1rem;
  }
}

.reverse-transaction {
  padding: 0.5rem;
  margin-bottom: 8px;

  &:hover {
    background: #2c2f36;
  }
  &:disabled {
    background: none;
  }
}


.reverse-transaction .to-btn-icon {
  margin-bottom: 0px;
}
