.swap-from {
  flex-flow: row;
  height: 90px;
}

.asset-balance {
  height: 100%;
}

.launch-markets-btn {
  display: flex;
  min-width: 135px;
  padding: 0px 0.5rem;
}

.base-price {
  padding: 6px 1rem 0;
  font-weight: 500;
  font-size: 14px;
  color: rgb(195, 197, 203);
}

.tag {
  position: absolute;
  width: 100%;
  bottom: -85px;
  z-index: -1;
  font-size: 14px;

  .tag-contents {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1rem;
  }
}
