.swap-from {
  flex-flow: row;
  height: 90px;
}

.asset-balance {
  height: 100%;
}

.launch-markets-btn {
  display: flex;
  min-width: 135px;
  padding: 0px 0.5rem;
}

.swap-details {
  padding: 6px 1rem 0;
  font-weight: 500;
  font-size: 14px;
  color: rgb(195, 197, 203);
}

.reverse-transaction {
  padding: 0.5rem;
  margin-bottom: 8px;

  &:hover {
    background: #2c2f36;
  }
  &:disabled {
    background: none;
  }
}

.reverse-transaction .to-btn-icon {
  margin-bottom: 0px;
}
