<div class="container-wrapper">
  <div class="container">
    <div *ngIf="this.overlaysService.getCurrentSwapView() === 'Swap'">

      <div class="main-container">
        <div class="content-top">
          <app-breadcrumb [path]="[{name: 'asgardex', swapView: 'Swap', mainView: 'Swap'}, {name: 'swap', disable: true}]" [isError]="(slip * 100) > slippageTolerance" [message]="getMessage()"></app-breadcrumb>
          <div class="top-right">
            <app-right-option [switchField]="{right: {text: 'Pool', tag: 'Soon', disable: true}, left: {text: 'Swap', tag: 'Soon', disable: false}}"></app-right-option>
          </div>
        </div>

        <!-- SOURCE -->
        <app-asset-input label="Send" [isSource]="true" [(selectedAsset)]="selectedSourceAsset"
          [(assetUnit)]="sourceAssetUnit" [balance]="sourceBalance" [disableInput]="user ? false : true" [disableUser]="user ? false : true"
          [disabledAssetSymbol]="selectedTargetAsset ? selectedTargetAsset.symbol : null" [coinGeckoList]="coinGeckoList"
          [selectableMarkets]="selectableMarkets">
        </app-asset-input>

        <div>
          <app-arrow [seperator]="!selectedSourceAsset || !selectedTargetAsset"></app-arrow>
        </div>

        <!-- TARGET -->
        <app-asset-input label="Receive" [isSource]="false"
          [(selectedAsset)]="selectedTargetAsset" [(assetUnit)]="targetAssetUnitDisplay" [balance]="targetBalance"
          [disableInput]="true" [disabledAssetSymbol]="selectedSourceAsset ? selectedSourceAsset.symbol : null"
          [loading]="calculatingTargetAsset" [hideMax]="true" [error]="poolDetailTargetError || poolDetailSourceError"
          [coinGeckoList]="coinGeckoList" [selectableMarkets]="selectableMarkets" [disableUser]="user ? false : true">
        </app-asset-input>

        <div class="swap-details" *ngIf="user">
          <div class="flxr flxr--just-space-between">
            <span class="tx-detail-label">Price:</span>
            <span
              *ngIf="basePrice && selectedTargetAsset && selectedSourceAsset, else noPrice">{{basePrice | number:"1.2-6"}}
              {{selectedSourceAsset.ticker}} per {{selectedTargetAsset.ticker}}</span>
            <ng-template #noPrice>
              <span>...</span>
            </ng-template>
          </div>
          <!-- total fee and slip -->
          <div class="flxr flxr--just-space-between">
            <span class="tx-detail-label">Total Fee:</span>
            <span
              *ngIf="basePrice && selectedTargetAsset && selectedSourceAsset && runeTransactionFee && binanceTransferFeeDisplay, else nothingFee">{{binanceTransferFeeDisplay | number:"0.0-6"}}
              BNB + 1 Rune</span>
            <ng-template #nothingFee>
              <span>...</span>
            </ng-template>
          </div>
          <!-- <div class="flxr flxr--just-space-between">
          <span class="tx-detail-label"></span>
          <span *ngIf="basePrice && selectedTargetAsset && selectedSourceAsset && runeTransactionFee && binanceTransferFeeDisplay">{{runeTransactionFee}} Rune</span>
        </div> -->

          <!-- <div class="flxr flxr--just-space-between">
            <span class="tx-detail-label">Slip:</span>
            <span
              *ngIf="basePrice && selectedTargetAsset && selectedSourceAsset && runeTransactionFee && binanceTransferFeeDisplay, else nothingSlip">{{slip | percent:"0.2-4" }}</span>
            <ng-template #nothingSlip>
              <span>...</span>
            </ng-template>
          </div> -->
          <div class="flxr flxr--just-space-between">
            <span class="tx-detail-label">Slip:</span>
            <span *ngIf="slip" [ngStyle]="{'color': (slip * 100) > slippageTolerance ? '#FF4954' : 'inherit'}">{{slip | percent:"0.2-4" }}</span>
            <span *ngIf="!slip">...</span>
          </div>

          <div class="flxr flxr--just-space-between">
            <span>Settings:</span>
            <span>{{slippageTolerance}}% slip tolerance <span>(click to adjust)</span></span>
          </div>

          <!-- <span style="display: block; color: #FF4954; font-size: 14px; margin-top: 5px;">Disclaimer: I’m a BETA product.
            Don’t swap/deposit large</span> -->
        </div>
        <!-- <div class="tag">
        <div class="tag-contents">

        </div>
        </div> -->

        <!-- please connect button -->
        <div class="bottom-actions">
          <button *ngIf="user"
              (click)="openConfirmationDialog()"
              class="next-btn graident-btn"
              [disabled]="formInvalid() || !balances">
            <span>Swap</span>
          </button>
          <app-connect *ngIf="!user"></app-connect>
        </div>

      </div>
    </div>

    <div class="overlay-container overlay-connect-wallet" *ngIf="overlaysService.getCurrentSwapView() == 'TargetAsset'">
      <app-markets-modal
        [(selectedAsset)]="selectedTargetAsset" [selectableMarkets]="selectableMarkets"
        [disabledAssetSymbol]="selectedSourceAsset ? selectedSourceAsset.symbol : null"></app-markets-modal>
    </div>

    <div class="overlay-container overlay-connect-wallet" *ngIf="overlaysService.getCurrentSwapView() == 'SourceAsset'">
      <app-markets-modal
        [(selectedAsset)]="selectedSourceAsset" [selectableMarkets]="selectableMarkets"
        [disabledAssetSymbol]="selectedTargetAsset ? selectedTargetAsset.symbol : null"></app-markets-modal>
    </div>

    <div class="overlay-container overlay-connect-wallet" *ngIf="overlaysService.getCurrentSwapView() == 'Connect'">
      <app-connect-modal></app-connect-modal>
    </div>

    <div class="overlay-container" *ngIf="overlaysService.getCurrentSwapView() == 'Confirm'">
      <app-confirm-swap-modal *ngIf="swapData" [swapData]="swapData">
      </app-confirm-swap-modal>
    </div>
  </div>
</div>
