<div class="inner-container">

  <div class="outline-btn">
    <h1>Keystore Login</h1>
  </div>

  <div class="dialog-content">
    <div mat-dialog-content>

      <input #keystoreInput hidden="true" type="file" onclick="this.value=null"
        (change)="onKeystoreFileChange($event)" />
      <button style="margin-bottom: 38px;" class="uni-input uni-input--file" (click)="keystoreInput.click()">
        <span *ngIf="!keystoreFileSelected">Upload Keystore File</span>
        <span *ngIf="keystoreFileSelected">File Uploaded</span>
        <!-- <mat-icon *ngIf="!keystoreFileSelected">vpn_key</mat-icon> -->
        <!-- <mat-icon *ngIf="keystoreFileSelected" [ngStyle]="{'color':'green', 'margin-left': '5px'}">check</mat-icon> -->
      </button>


      <div class="uni-input">
        <label>Password</label>
        <input [(ngModel)]="keystorePassword" class="password" name="keystore-password" placeholder="__________________________"
          type="password" />
      </div>

      <small>Your file is not uploaded anywhere and remains password protected.</small>
      <br />

    </div>

    <div class="bottom-actions" style="margin: 205px 0 0 0; display: flex;">
      <div style="width: 50%">
        <button (click)="clearKeystore()" class="close-btn" style="margin-right: 6px;">
          <span>Cancel</span>
        </button>
      </div>
      <div style="width: 50%;">
        <div>
          <span *ngIf="keystoreError" style="font-size: 0.8rem; color: #2172e5">Keystore Login Incorrect</span>
        </div>
        <div style="margin-left: 6px;">
          <button *ngIf="!keystoreConnecting" class="next-btn" (click)="keystoreUnlockClicked()"
            [disabled]="keystoreConnecting || !keystorePassword || !keystoreFileSelected">
            <span>Unlock</span>
          </button>
          <button *ngIf="keystoreConnecting" class="next-btn spinner" style="display: flex;">
            <mat-progress-spinner mode="indeterminate" diameter="30" ></mat-progress-spinner>
          </button>
        </div>
      </div>
    </div>

  </div>

</div>
