<div class="inner-container">

  <div class="dialog-content">
    <div class="content-top">
      <app-breadcrumb [path]="[{name: 'asgardex', swapView: 'Swap', mainView: 'Swap'}, {name: 'connect', backFunc: true}, {name: 'keystore login', disable: true}]" (backFunc)="back.emit()" [isError]="keystoreError" [message]="keystoreError ? 'Keystore Login Incorrect' : keystoreConnecting ? 'connecting' : 'upload keystore and enter password'"></app-breadcrumb>
      <!-- <div class="top-right">
        <app-right-option></app-right-option>
      </div> -->
    </div>

    <div mat-dialog-content>

      <input class="focus:ring-0" #keystoreInput hidden="true" type="file" onclick="this.value=null" (change)="onKeystoreFileChange($event)" />
      <button class="uni-input uni-input--file" style="position: relative;" [ngStyle]="{ 'background': keystoreFileSelected ? 'var(--primary-default)' : 'var(--primary-grey-background)', 'color': keystoreFileSelected ? '#0D1B23' : '#fff' }">
        <span *ngIf="!keystoreFileSelected">Upload your Keystore File</span>
        <span *ngIf="keystoreFileSelected">Keystore Uploaded</span>

        <app-tag style="position: absolute; right: 18px;" [type]="keystoreFileSelected ? 'dark' : 'green'" (click)="keystoreInput.click()">Select File</app-tag>
      </button>

      <app-arrow></app-arrow>

      <div class="uni-input">
        <label>Password</label>
        <input [(ngModel)]="keystorePassword" class="password focus:ring-0" name="keystore-password" placeholder="________________________________________"
          type="password" (keyup.enter)="initUnlock()"/>
      </div>

      <!-- <small>Your file is not uploaded anywhere and remains password protected.</small> -->
      <!-- <br /> -->

    </div>

    <div class="bottom-actions two-btn">
      <div class="left-btn">
        <button (click)="clearKeystore()" class="close-btn" [disabled]="keystoreConnecting">
          <span>Cancel</span>
        </button>
      </div>
      <div class="divider"></div>
      <div class="right-btn">
        <div>
          <button class="next-btn" (click)="initUnlock()"
            [disabled]="keystoreConnecting || !keystorePassword || !keystoreFileSelected">
            <span *ngIf="!keystoreConnecting">Unlock</span>
            <span *ngIf="keystoreConnecting">Unlocking...</span>
          </button>
        </div>
      </div>
    </div>

  </div>

</div>
