<div>

  <!-- <div>
    <button (click)="back.emit()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div *ngIf="txState === 'PENDING_CONFIRMATION'" class="outline-btn" style="width: 139px; border-color: #F3BA2F; color: #F3BA2F;" >
      <h1>
        Confirm Send
      </h1>
    </div>
    <div *ngIf="txState === 'SUBMITTING'" class="outline-btn" style="border-color: #00CCFF; color: #00CCFF; width: 223px;">
      <h1>TRANSACTION PROCESSING</h1>
    </div>
    <div *ngIf="txState === 'SUCCESS'" class="outline-btn" style="border-color: #fff; color: #fff; width: 259px;">
      <h1>TRANSACTION PROCESSING</h1>
    </div>
    <div style="width: 40px"></div>
  </div> -->

  <div class="modal-head confirm-modal-head">

    <!-- <div class="flxr flxr--just-space-between transaction-detail">

      <div class="flex items-center">
        <div style="margin-right: 12px;" class="asset-icon-container flex items-center">
          <img *ngIf="asset.asset && asset.asset.iconPath" [src]="asset.asset.iconPath" appImgFallback />
          <mat-icon *ngIf="!asset.asset.iconPath">help_outline</mat-icon>
        </div>
        <span style="margin-right: 8px; font-size: 20px">{{amount}}</span>
      </div>

      <span>{{asset.asset.ticker}}</span>

    </div>

    <div class="flex">
      <mat-icon style="margin-left: 4px; margin-bottom: 12px;" class="to-btn-icon disabled">arrow_downward</mat-icon>
    </div> -->

    <app-asset-input
      label="Send"
      [(selectedAsset)]="asset.asset"
      [(assetUnit)]="amount"
      [balance]="asset.balance.amount().toNumber()"
      [disabledAssetSymbol]="asset.asset.symbol"
      [disabledMarketSelect]="true">
    </app-asset-input>

    <!-- <div class="uni-input" style="margin-top: 38px;">
      <label>Recipient Address</label>
      <textarea class="password" [(ngModel)]="recipientAddress" name="recipient-address" [disabled]="true"></textarea>
    </div> -->

    <app-arrow></app-arrow>

    <app-text-field *ngIf="mode !== 'SUCCESS'"  selectedType="Text" mode="Double" typeTwo="text" label="Recipient Address" labelTwo="Memo" [(textOfField)]="recipientAddress" [disable]="true" [disableTwo]="true"></app-text-field>
    <app-text-field *ngIf="mode === 'SUCCESS'"  selectedType="Text" mode="Single" label="Recipient Address" [(textOfField)]="recipientAddress" [disable]="true"></app-text-field>
    {{mode}}
    {{txState}}
    <div style="margin-top: 38px;" *ngIf="mode === 'SUCCESS'">
      <app-notice [tags]="['Copy', 'Explorer']">
        <span text >{{hash}}</span>
        <div tag_one (click)="copyToClipboard(hash)">
          <span>COPY</span>
        </div>
        <div tag_two>
          <a target="_blank" style="text-decoration: none; color: inherit;" [href]="getExplorerPath()">Explore</a>
        </div>
      </app-notice>
    </div>
    <!-- <div style="padding: 14px;">
      <span style="color: #F3BA2F; font-size: 14px; line-height: 24px;">You’re sending TESTNET BNB. Make sure your recipient’s address is a TESTNET address.</span>
    </div> -->

  </div>

</div>

<div class="bottom-actions two-btn" *ngIf="txState === 'PENDING_CONFIRMATION' && asset">
  <div class="right-btn">
    <div>
      <button class="close-btn" (click)="back.emit()">
        <span>cancel</span>
      </button>
    </div>
  </div>
  <div class="divider"></div>
  <div class="left-btn">
    <div>
      <button (click)="submitTransaction()" class="next-btn">
        <span>confirm</span>
      </button>
    </div>
  </div>
</div>
<div class="bottom-actions" *ngIf="txState === 'SUBMITTING' && asset">
  <div style="width: 100%;">
    <button [disabled]="true" class="next-btn" aria-label="TRANSACTION PROCESSING…">
      <span>PLEASE WAIT…</span>
    </button>
  </div>
</div>
<div class="bottom-actions" *ngIf="mode === 'SUCCESS' && asset">
  <div style="width: 100%;">
    <button class="close-btn" aria-label="CLOSE" (click)="back.emit()">
      <span>close</span>
    </button>
  </div>
</div>

<!-- <app-transaction-processing-modal
  *ngIf="txState === 'SUBMITTING' && asset"
  transactionDetail="Sending {{asset.asset.ticker}}">
</app-transaction-processing-modal> -->

<!-- <div *ngIf="txState === 'ERROR'" class="flex flex-col items-center py-8 text-sm">
  <mat-icon>warning</mat-icon>
  There was an error processing the RUNE upgrade.<br />
  {{error}}
</div> -->

