<div *ngIf="txState == 'PENDING_CONFIRMATION' && asset">

  <div style="padding: 1rem 1rem 0" class="section-head-container">
    <button (click)="back.emit()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 class="flxr">
      Confirm Send
    </h1>
    <div style="width: 40px"></div>
  </div>

  <div class="modal-head confirm-modal-head">

    <div class="flxr flxr--just-space-between transaction-detail">

      <div class="flxr flxr--align-center">
        <div style="margin-right: 12px;" class="asset-icon-container flxr flxr--align-center">
          <img *ngIf="asset.asset && asset.asset.iconPath" [src]="asset.asset.iconPath" />
          <mat-icon *ngIf="!asset.asset.iconPath">help_outline</mat-icon>
        </div>
        <span style="margin-right: 8px; font-size: 20px">{{amount}}</span>
      </div>

      <span>{{asset.asset.ticker}}</span>

    </div>

    <div class="flxr">
      <mat-icon style="margin-left: 4px; margin-bottom: 12px;" class="to-btn-icon disabled">arrow_downward</mat-icon>
    </div>

    <div class="uni-input">
      <label>Recipient Address</label>
      <textarea [(ngModel)]="recipientAddress" name="recipient-address" [disabled]="true"></textarea>
    </div>

    <button (click)="submitTransaction()" mat-flat-button color="primary" class="main-action-btn">Send {{asset.asset.ticker}}</button>

  </div>

</div>

<app-transaction-processing-modal
  *ngIf="txState === 'SUBMITTING' && asset"
  transactionDetail="Sending {{asset.asset.ticker}}">
</app-transaction-processing-modal>


