<div mat-dialog-content *ngIf="asset">

  <div>
    <div>
      <app-asset-input
        label="Send"
        [isSource]="true"
        [(selectedAsset)]="asset.asset"
        [(assetUnit)]="amount"
        [balance]="asset.balance.amount().toNumber()"
        [disabledAssetSymbol]="asset.asset.symbol"
        [disabledMarketSelect]="true"
        [selectableMarkets]="[asset]">
      </app-asset-input>
    </div>

    <app-arrow></app-arrow>

    <app-text-field  selectedType="Text" mode="Double" typeTwo="text" label="Recipient Address" labelTwo="Memo" [(textOfField)]="recipientAddress"></app-text-field>

  </div>

</div>

<div class="bottom-actions" style="display: flex; margin-top: 58px;">
  <div style="width: 50%;">
    <div style="margin-right: 6px;">
      <button class="close-btn" (click)="back.emit()">
        <span>⭠ WALLET</span>
      </button>
    </div>
  </div>
  <div style="width: 50%;">
    <div style="margin-left: 6px;">
      <button class="next-btn graident-btn" [disabled]="!amountSpendable || recipientAddress.length < 12" (click)="confirmSend.next({amount: amount, recipientAddress: recipientAddress})">
        <span>Send</span>
      </button>
    </div>
  </div>
</div>
