// Inter Font
@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
    font-feature-settings: "ss01", "ss02", "cv01", "cv03";
  }
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $asgard-exchange-primary: mat-palette($mat-indigo);
// $asgard-exchange-accent: mat-palette($mat-pink, A200, A100, A400);

$uniswap-primary: (
  50: rgba(21, 61, 111, 0.44),
  contrast: (
    50: rgb(109, 168, 255),
  )
);

$uniswap-secondary: (
  50: rgba(21, 61, 111, 0.44),
  contrast: (
    50: rgb(109, 168, 255)
  )
);

$custom-typography: mat-typography-config(
  $font-family: 'Inter var, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

$asgard-exchange-primary: mat-palette($uniswap-primary, 50);
$asgard-exchange-accent: mat-palette($uniswap-secondary, 50);

// The warn palette is optional (defaults to red).
$asgard-exchange-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$asgard-exchange-theme: mat-light-theme($asgard-exchange-primary, $asgard-exchange-accent, $asgard-exchange-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($asgard-exchange-theme);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);


* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: rgb(44, 47, 54);
}

html, input, textarea, button {
  font-family: "Inter var", sans-serif;
}

/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-position: 0px -30vh;
  background-repeat: no-repeat;
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(33, 114, 229, 0.1) 0%, rgba(33, 36, 41, 0) 100%);
  color: white;
}


html, body { height: 100%; }
body { margin: 0; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;

  // &:disabled {
  //   .to-btn-icon {
  //     color: rgb(86, 90, 105);
  //   }
  // }

}

.to-btn-icon {
  margin-bottom: 10px;
  font-size: 16px;
  color: #2172e5;
  height: 16px !important;
  width: 16px !important;

  &.disabled {
    color: rgb(86, 90, 105);
  }
}

/**
 * Material Overrides
 */

 /**
  * Material Dialog
  */
.mat-dialog-container {
  padding: 0 !important;
  box-shadow: none;
  border-radius: 20px !important;
  position: relative;
  background-color: rgb(33, 36, 41);
  color: white;

  .dialog-content {
    background-color: rgb(44, 47, 54);
    padding: 2rem;
    display: flex;
    flex-flow: column;
  }

  .dialog-actions {
    position: absolute;
    top: 0;
    right: 10px;
  }

  .modal-head {
    padding: 1rem;
  }

  h1 {
    font-size: 1rem;
    margin: 0;
    // text-align: center;
    font-weight: 500;
  }

}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.45);
}

.form-border {
  outline: none;
  border: 1px solid rgb(237, 238, 242);
  border-radius: 12px;
  padding: 1rem;
  width: 100% !important;
}

.uni-input {
  // background-color: rgb(247, 248, 250);
  outline: none;
  border: 1px solid #40444f;
  border-radius: 12px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 0px;
  opacity: 1;
  width: 100% !important;
  margin-bottom: 10px;

  flex-flow: column;
  justify-content: start;
  align-items: flex-start;

  label {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 500;
    font-size: 14px;
    color: rgb(195, 197, 203);
  }

  input {
    background-color: transparent;
    border: none;
    width: 100%;
    color: white;
    font-weight: 500;
    outline: none;
    border: none;
    flex: 1 1 auto;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.75rem 0.75rem 0.75rem 0;
    appearance: textfield;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #565A69;
      opacity: 1; /* Firefox */
    }


    &:focus {
      outline: none;
    }
  }

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/**
 * Connect Styling
 */
.connect-option {
  // background-color: rgb(247, 248, 250);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  // padding: 1rem;
  margin-top: 0px;
  opacity: 1;
  // width: 100% !important;
  margin-bottom: 10px;
  border: 1px solid rgb(64, 68, 79);
  color: white;

  span {
    display: flex;
    flex-flow: row nowrap;
    // color: rgb(0, 0, 0);
    // color: white;
    font-size: 1rem;
    font-weight: 500;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid rgb(33, 114, 229);
  }

  &:disabled {
    color: #888d9b;

    &:hover {
      border: 1px solid rgb(64, 68, 79);
      cursor: inherit;
    }

  }
}

/**
 * Material Buttons
 */

 button.mat-primary, a.mat-primary {
  background-color: rgb(33, 114, 229) !important;
  color: white !important;
 }

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
  font-size: 1rem;
  color: white;
  background-color: transparent;
}

.main-action-btn {
  color: white !important;
  // background-color: rgb(255, 0, 122) !important;
  width: 100%;
  margin-top: 1rem !important;
  padding: 10px !important;
  border-radius: 20px !important;

  &:disabled {
    background-color:rgb(64, 68, 79) !important;
    color:rgb(108, 114, 132) !important;
  }
}

.mat-progress-spinner, .mat-spinner {

  circle {
    stroke: #2172e5;
  }

  &.light-spinner {
    stroke: white;

    circle {
      stroke: white !important;
    }
  }

}

.flxr {
  display: flex;

  &--just-center {
    justify-content: center;
  }

  &--just-space-between {
    justify-content: space-between;
  }

  &--align-center {
    align-items: center;
  }

  &--flow-col {
    flex-flow: column;
  }
}

/**
 *
 */
.asset-icon-container {
  width: 24px;
  margin-right: 16px;

  img {
    width: 100%;
  }
}

.tx-detail-label {
  font-size: 14px;
  color: rgb(195, 197, 203);
}

.disabled-list {
  float: left;
  width: 100%;
  border-radius: 16px;
  padding: 40px;
  border: 1px solid rgb(44, 47, 54);
  background-color: rgb(33, 36, 41);
  font-weight: 400;
  font-size: 16px;
  color: rgb(108, 114, 132);
  text-align: center;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;

  .container {
    background: rgb(33, 36, 41);
    padding: 1rem;
    max-width: 420px;
    min-height: 400px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 4px 8px, rgba(0, 0, 0, 0.04) 0px 16px 24px, rgba(0, 0, 0, 0.01) 0px 24px 32px;
    border-radius: 30px;
    // margin-top: -75px;
  }

  nav {
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 3rem;
    justify-content: space-evenly;
    margin-bottom: 20px;

    a {
      display: flex;
      flex-flow: row nowrap;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      height: 3rem;
      border-radius: 3rem;
      outline: none;
      cursor: pointer;
      text-decoration: none;
      color: rgb(136, 141, 155);
      font-size: 20px;

      &.active {
        border-radius: 12px;
        font-weight: 500;
        color: white;
      }
    }
  }
}

.section-head-container {
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  h1 {
    outline: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin: 0;
  }

}

.confirm-modal-head {
  // font-size: 20px;

  h1, .transaction-detail {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1rem;
  }

}

.confirm-modal-content {
  padding: 1rem;
  background-color: rgb(44, 47, 54);
  font-size: 14px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

  &--sent {

    mat-icon {
      height: auto;
      width: auto;
      font-size: 5.0rem;
      color: #2172e5 !important;
    }
  }
}

.submitting, .success {

  .modal-head {

    h1, span, a {
      margin-bottom: 10px;
    }

    a {
      color: #2172e5 !important;
      text-decoration: none;
    }

    .swap-details {
      font-size: .8rem;
      font-weight: 500;
    }

    .addendum {
      color: rgb(195, 197, 203);
      font-size: .8rem;
      font-style: italic;
    }

  }

}

.mat-slider-wrapper {
  background-color: rgb(195, 197, 203);
}

.mat-accent .mat-slider-track-fill, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label {
  background-color: rgb(195, 197, 203);
}

.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: rgb(195, 197, 203);
}
