
<div class="container">
  <nav>
    <a [routerLink]="['/', 'swap']" routerLinkActive="active">Swap</a>
    <a [routerLink]="['/', 'pool']" routerLinkActive="active">Stake</a>
  </nav>

  <div style="position: relative;">

    <div style="margin: -12px 0 24px; float: left; width: 100%;">
      <a [routerLink]="['/', 'stake', 'BNB']" class="main-action-btn" mat-flat-button color="primary">
        Add Liquidity
      </a>
    </div>

    <span class="section-label">Your liquidity</span>

    <div *ngIf="!user" class="disabled-list">
      Connect wallet to view liquidity
    </div>

    <app-staked-pools-list *ngIf="user && stakedPools && poolDetailIndex" [stakedPools]="stakedPools" [poolsData]="poolDetailIndex"></app-staked-pools-list>

    <div *ngIf="user && (!stakedPools || !poolDetailIndex)" style="float: left; width: 100%; height: 140px" class="flxr flxr--just-center flxr--align-center">

        <div *ngIf="!userPoolError">
          <mat-progress-spinner color="primary" mode="indeterminate" diameter="30"></mat-progress-spinner>
        </div>

        <div style="font-size: 0.8rem" class="flxr flxr--flow-col flxr--align-center" *ngIf="userPoolError">
          <mat-icon>warning</mat-icon>
          Error fetching user pools
        </div>


    </div>

  </div>

</div>
