
<div style="width: 420px" class="container">
  <nav>
    <a [routerLink]="['/', 'swap']" routerLinkActive="active">Swap</a>
    <a [routerLink]="['/', 'pool']" routerLinkActive="active">Stake</a>
  </nav>

  <div *ngIf="pools" style="margin: -12px 0 24px;">
    <a [routerLink]="['/', 'stake', pools[0]]" class="main-action-btn" mat-flat-button color="primary">
      Add Liquidity
    </a>
  </div>

  <span class="section-label">Your liquidity</span>

  <div *ngIf="!user" class="disabled-list">
    Connect wallet to view liquidity
  </div>

  <app-staked-pools-list *ngIf="user && stakedPools && poolDetailIndex" [stakedPools]="stakedPools" [poolsData]="poolDetailIndex"></app-staked-pools-list>

</div>
