
.section-label {
  margin-bottom: 12px;
  float: left;
  width: 100%;
  font-weight: 500;
  font-size: .8rem;
}

.refresh-indicator {
  height: 24px;
  width: 24px;
  padding: 0;
  margin: 0;
  line-height: 0;
}
